---
export const prerender = true
import { find } from '@/api/payload'
import EspaceCultureImg from '@/assets/imgs/espace-culture-nature.png'
import MyImage from '@/components/my-image.astro'
import { SelectWrapper } from '@/components/select-wrapper'
import { Input } from '@/components/ui/input'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'
import { translatePublicField } from '@/lib/translate-fields'
import type { Cinema } from '@/types/cinema'
const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)

const seances = await find<Cinema>('cinema', {
	limit: 6,
	locale,
	where: {
		type: { equals: 'seance' }
	}
})
const rdv = await find<Cinema>('cinema', {
	limit: 6,
	locale,
	where: {
		type: { equals: 'rdv_cinema' }
	}
})
---
export const prerender = true

<Layout title={t('ACCUEIL_TITLE')}>
	<main>
		<section class="section-default" id="cinema">
			<article>
				<h2 class="pb-3">{t('CINEMA')}</h2>
				<p class="distinguished pb-6">{t('CINEMA_INTRO')}</p>
				<p class="w-2/3">
					{t('CINEMA_DESC_PART1')}<br /><br />
					{t('CINEMA_DESC_PART2')}<br /><br />
					{t('CINEMA_DESC_PART3')}
				</p>
			</article>

			<div class="bg-primary mt-12 grid grid-cols-8 grid-rows-2 gap-6 px-10 py-8 *:min-h-12">
				<Input placeholder={t('MOTS_CLES')} className="rows-span-1 col-span-6 bg-white" />
				<SelectWrapper
					placeholder={t('HORAIRES')}
					options={[{ key: 'fefef', value: 'fef' }]}
					className="col-span-2 w-full"
				/>
				<SelectWrapper
					placeholder={t('TYPE_PUBLIC')}
					options={[{ key: 'fefef', value: 'fef' }]}
					className="col-span-2 w-full"
				/>
				<SelectWrapper
					placeholder={t('PRIX')}
					options={[{ key: 'fefef', value: 'fef' }]}
					className="col-span-2 w-full"
				/>
				<SelectWrapper
					placeholder={t('LIEU')}
					options={[{ key: 'fefef', value: 'fef' }]}
					className="col-span-2 w-full"
				/>
				<SelectWrapper
					placeholder={t('GENRE')}
					options={[{ key: 'fefef', value: 'fef' }]}
					className="col-span-2 w-full"
				/>
			</div>

			<div class="my-16 grid grid-cols-2 gap-5">
				{
					seances.docs.map((item) => {
						const synopsisText = item.synopsis.root.children
							.flatMap((para) => para.children)
							.filter((child) => child.type === 'text')
							.map((child) => child.text)
							.join(' ')

						return (
							<article class="group relative col-span-1 w-full overflow-hidden bg-white shadow-sm">
								<div class="overflow-hidden">
									<MyImage
										src={item.thumbnail?.url}
										alt={item.thumbnail?.alt ?? t('IMAGE_PLACEHOLDER')}
										background={item.thumbnail?.blurhash}
										width={900}
										height={145}
										layout="fullWidth"
									/>
								</div>
								<figure class="p-4 transition-opacity duration-250 group-hover:opacity-0">
									<figcaption>
										<h3 class="pb-3 text-black">
											<a href={`/cinema/seance/${item.id}`} class="after:absolute after:inset-0 after:z-10">
												{item.title}
											</a>
										</h3>
										<p class="distinguished text-primary pb-1 text-xs">
											{translatePublicField(item.public, t)} - {item.genre} - {item.languages}
										</p>
										<p class="font-serif text-sm capitalize">
											{new Date(item.date_start).toLocaleDateString(locale, { dateStyle: 'full' })} -{' '}
											{new Date(item.date_start).toLocaleTimeString(locale, {
												hour: '2-digit',
												minute: '2-digit',
												hour12: false
											})}
										</p>
									</figcaption>
								</figure>
								<div class="bg-primary/80 pointer-events-none absolute inset-0 opacity-0 transition-opacity duration-250 group-hover:opacity-100" />
								<figure class="pointer-events-none absolute inset-0 p-5 opacity-0 transition-opacity duration-250 group-hover:opacity-100">
									<figcaption class="text-white">
										<p class="line-clamp-6 text-sm">{synopsisText}</p>
										<p class="inline-flex items-center gap-2 pt-10 text-sm font-semibold underline underline-offset-2">
											{t('EN_SAVOIR_PLUS')}
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												viewBox="0 0 24 24"
												fill="none"
												stroke="currentColor"
												stroke-width="2"
												stroke-linecap="round"
												stroke-linejoin="round"
											>
												<path d="M5 12h14" />
												<path d="m12 5 7 7-7 7" />
											</svg>
										</p>
									</figcaption>
								</figure>
							</article>
						)
					})
				}
			</div>
		</section>

		<section class="section-default bg-primary/20" id="rdv-cinema">
			<h2 class="text-primary pb-3">{t('RDV_CINEMA')}</h2>
			<p class="distinguished pb-6">{t('RDV_CINEMA_INTRO')}</p>
			<p class="w-2/3">{t('RDV_CINEMA_DESC')}</p>

			<div class="my-16 grid grid-cols-4 place-items-center gap-x-4 gap-y-8 *:max-w-80">
				{
					rdv.docs.map((item) => {
						const descText = item.synopsis.root.children
							.flatMap((para) => para.children)
							.filter((child) => child.type === 'text')
							.map((child) => child.text)
							.join(' ')

						return (
							<article class="group relative col-span-1 w-full overflow-hidden bg-white shadow-sm">
								<div class="overflow-hidden">
									<MyImage
										src={item.thumbnail?.url}
										alt={item.thumbnail?.alt ?? t('IMAGE_PLACEHOLDER')}
										background={item.thumbnail?.blurhash}
										width={275}
										height={305}
										layout="fullWidth"
									/>
								</div>
								<figure class="p-4 transition-opacity duration-250 group-hover:opacity-0">
									<figcaption>
										<h3 class="pb-3 text-black">
											<a href={`/cinema/seance/${item.id}`} class="after:absolute after:inset-0 after:z-10">
												{item.title}
											</a>
										</h3>
										<p class="distinguished text-primary pb-1 text-xs">{item.genre}</p>
										<time class="distinguished text-sm capitalize" datetime={item.date_start}>
											{new Date(item.date_start).toLocaleDateString(locale, { dateStyle: 'full' })} -{' '}
											{new Date(item.date_start).toLocaleTimeString(locale, {
												hour: '2-digit',
												minute: '2-digit',
												hour12: false
											})}
										</time>
									</figcaption>
								</figure>
								<div class="bg-primary/80 pointer-events-none absolute inset-0 opacity-0 transition-opacity duration-250 group-hover:opacity-100" />
								<figure class="pointer-events-none absolute inset-0 p-5 opacity-0 transition-opacity duration-250 group-hover:opacity-100">
									<figcaption class="text-white">
										<p class="line-clamp-8 text-sm">{descText}</p>
										<p class="inline-flex items-center gap-2 pt-10 text-sm font-semibold underline underline-offset-2">
											{t('EN_SAVOIR_PLUS')}
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												viewBox="0 0 24 24"
												fill="none"
												stroke="currentColor"
												stroke-width="2"
												stroke-linecap="round"
												stroke-linejoin="round"
											>
												<path d="M5 12h14" />
												<path d="m12 5 7 7-7 7" />
											</svg>
										</p>
									</figcaption>
								</figure>
							</article>
						)
					})
				}
			</div>
		</section>
	</main>
</Layout>
