---
export const prerender = true
import { find } from '@/api/payload'
import EspaceCultureImg from '@/assets/imgs/espace-culture-nature.png'
import ExemplePersonImg from '@/assets/imgs/exemple-person.png'
import SectionBg from '@/assets/imgs/section-image.png'
import MyImage from '@/components/my-image.astro'
import { SelectWrapper } from '@/components/select-wrapper'
import { Input } from '@/components/ui/input'
import langs from '@/i18n/langs'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'
import type { AutresActualites } from '@/types/autres-actualites'

const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)

const evenements = await find<AutresActualites>('autres_actualites', {
	limit: 4,
	locale,
})
---
export const prerender = true

<Layout title={t('ACCUEIL_TITLE')}>
	<main>

	<section class="section-default" id="evenements">
		<h2 class="text-primary pb-3">{t('AUTRES_EVENEMENTS_TITRE')}</h2>
		<p class="distinguished">{t('AUTRES_EVENEMENTS_INTRO')}</p>

		<div class="my-16 grid grid-cols-4 place-items-center gap-x-4 gap-y-8 *:max-w-80">
			{
				evenements.docs.map((item) => {
					const descText = item.description.root.children
						.flatMap((para) => para.children)
						.filter((child) => child.type === 'text')
						.map((child) => child.text)
						.join(' ')

					return (
						<article class="group relative col-span-1 w-full overflow-hidden bg-white shadow-sm">
							<div class="overflow-hidden">
								<MyImage
									src={item.thumbnail?.url}
									alt={item.thumbnail?.alt ?? t('IMAGE_PLACEHOLDER')}
									background={item.thumbnail?.blurhash}
									width={275}
									height={305}
									layout="fullWidth"
								/>
							</div>
							<figure class="p-4 transition-opacity duration-250 group-hover:opacity-0">
								<figcaption>
									<h3 class="pb-1 text-black">
										<a href={`/autres-actualites/evenement/${item.id}`} class="after:absolute after:inset-0 after:z-10">
											{item.title}
										</a>
									</h3>
									<time class="distinguished text-sm capitalize" datetime={item.date_start}>
									{new Date(item.date_start).toLocaleDateString(locale, { dateStyle: 'full' })} -{' '}
									{new Date(item.date_start).toLocaleTimeString(locale, {
										hour: '2-digit',
										minute: '2-digit',
										hour12: false
									})}
									</time>
									<p class="line-clamp-2 pt-3 text-xs">{descText}</p>
								</figcaption>
							</figure>
							<div class="bg-primary/80 pointer-events-none absolute inset-0 opacity-0 transition-opacity duration-250 group-hover:opacity-100" />
							<figure class="pointer-events-none absolute inset-0 p-5 opacity-0 transition-opacity duration-250 group-hover:opacity-100">
								<figcaption class="text-white">
									<p class="line-clamp-8 text-sm">{descText}</p>
									<p class="inline-flex items-center gap-2 pt-10 text-sm font-semibold underline underline-offset-2">
										{t('EN_SAVOIR_PLUS')}
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="16"
											height="16"
											viewBox="0 0 24 24"
											fill="none"
											stroke="currentColor"
											stroke-width="2"
											stroke-linecap="round"
											stroke-linejoin="round"
										>
											<path d="M5 12h14" />
											<path d="m12 5 7 7-7 7" />
										</svg>
									</p>
								</figcaption>
							</figure>
						</article>
					)
				})
			}
		</div>
	</section>
	</main>
</Layout>
