---
import EspaceCultureImg from '@/assets/imgs/espace-culture-nature.png'
import ExemplePersonImg from '@/assets/imgs/exemple-person.png'
import SectionBg from '@/assets/imgs/section-image.png'
import MyImage from '@/components/my-image.astro'
import langs from '@/i18n/langs'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'

const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)
---

<Layout title={t('ACCUEIL_TITLE')}>
	<main>

		<section class="section-default" id="archives">
			<h2 class="text-secondary pb-3">{t('ARCHIVES')}</h2>
			<p class="distinguished pb-16 w-2/3">
				{t('ARCHIVES_DESC')}
			</p>

			<div class="my-16 grid grid-cols-4 place-items-center gap-x-4 gap-y-8 *:max-w-72">
				<article class="group col-span-1 w-full bg-white shadow-xs">
					<div class="overflow-hidden">
						<MyImage
							src={EspaceCultureImg}
							alt=""
							width={300}
							height={200}
							layout="fullWidth"
							class="transition-transform duration-250 group-hover:scale-110"
						/>
					</div>
					<figure class="p-4">
						<figcaption>
							<h3 class="pb-1 text-black">{t('EVENT_TITLE')}</h3>
							<time class="distinguished text-sm" datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
							<p class="pt-3 text-sm">{t('EVENT_DESC_EXAMPLE')}</p>
						</figcaption>
					</figure>
				</article>
				<article class="group col-span-1 w-full bg-white shadow-xs">
					<div class="overflow-hidden">
						<MyImage
							src={EspaceCultureImg}
							alt=""
							width={300}
							height={200}
							layout="fullWidth"
							class="transition-transform duration-250 group-hover:scale-110"
						/>
					</div>
					<figure class="p-4">
						<figcaption>
							<h3 class="pb-1 text-black">{t('EVENT_TITLE')}</h3>
							<time class="distinguished text-sm" datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
							<p class="pt-3 text-sm">{t('EVENT_DESC_EXAMPLE')}</p>
						</figcaption>
					</figure>
				</article>
				<article class="group col-span-1 w-full bg-white shadow-xs">
					<div class="overflow-hidden">
						<MyImage
							src={EspaceCultureImg}
							alt=""
							width={300}
							height={200}
							layout="fullWidth"
							class="transition-transform duration-250 group-hover:scale-110"
						/>
					</div>
					<figure class="p-4">
						<figcaption>
							<h3 class="pb-1 text-black">{t('EVENT_TITLE')}</h3>
							<time class="distinguished text-sm" datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
							<p class="pt-3 text-sm">{t('EVENT_DESC_EXAMPLE')}</p>
						</figcaption>
					</figure>
				</article>
				<article class="group col-span-1 w-full bg-white shadow-xs">
					<div class="overflow-hidden">
						<MyImage
							src={EspaceCultureImg}
							alt=""
							width={300}
							height={200}
							layout="fullWidth"
							class="transition-transform duration-250 group-hover:scale-110"
						/>
					</div>
					<figure class="p-4">
						<figcaption>
							<h3 class="pb-1 text-black">{t('EVENT_TITLE')}</h3>
							<time class="distinguished text-sm" datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
							<p class="pt-3 text-sm">{t('EVENT_DESC_EXAMPLE')}</p>
						</figcaption>
					</figure>
				</article>
				<article class="group col-span-1 w-full bg-white shadow-xs">
					<div class="overflow-hidden">
						<MyImage
							src={EspaceCultureImg}
							alt=""
							width={300}
							height={200}
							layout="fullWidth"
							class="transition-transform duration-250 group-hover:scale-110"
						/>
					</div>
					<figure class="p-4">
						<figcaption>
							<h3 class="pb-1 text-black">{t('EVENT_TITLE')}</h3>
							<time class="distinguished text-sm" datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
							<p class="pt-3 text-sm">{t('EVENT_DESC_EXAMPLE')}</p>
						</figcaption>
					</figure>
				</article>
				<article class="group col-span-1 w-full bg-white shadow-xs">
					<div class="overflow-hidden">
						<MyImage
							src={EspaceCultureImg}
							alt=""
							width={300}
							height={200}
							layout="fullWidth"
							class="transition-transform duration-250 group-hover:scale-110"
						/>
					</div>
					<figure class="p-4">
						<figcaption>
							<h3 class="pb-1">{t('EVENT_TITLE')}</h3>
							<time class="distinguished text-sm" datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
							<p class="pt-3 text-sm">{t('EVENT_DESC_EXAMPLE')}</p>
						</figcaption>
					</figure>
				</article>
				<article class="group col-span-1 w-full bg-white shadow-xs">
					<div class="overflow-hidden">
						<MyImage
							src={EspaceCultureImg}
							alt=""
							width={300}
							height={200}
							layout="fullWidth"
							class="transition-transform duration-250 group-hover:scale-110"
						/>
					</div>
					<figure class="p-4">
						<figcaption>
							<h3 class="pb-1">{t('EVENT_TITLE')}</h3>
							<time class="distinguished text-sm" datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
							<p class="pt-3 text-sm">{t('EVENT_DESC_EXAMPLE')}</p>
						</figcaption>
					</figure>
				</article>
				<article class="group col-span-1 w-full bg-white shadow-xs">
					<div class="overflow-hidden">
						<MyImage
							src={EspaceCultureImg}
							alt=""
							width={300}
							height={200}
							layout="fullWidth"
							class="transition-transform duration-250 group-hover:scale-110"
						/>
					</div>
					<figure class="p-4">
						<figcaption>
							<h3 class="pb-1">{t('EVENT_TITLE')}</h3>
							<time class="distinguished text-sm" datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
							<p class="pt-3 text-sm">{t('EVENT_DESC_EXAMPLE')}</p>
						</figcaption>
					</figure>
				</article>
			</div>
		</section>
	</main>
</Layout>
