---
export const prerender = true
import { find } from '@/api/payload'
import { ArchivesGrid, type ArchiveDoc } from '@/components/archives-grid'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'
import { getRelativeLocaleUrl } from 'astro:i18n'

const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)
const localePrefix = getRelativeLocaleUrl(locale, '').replace(/\/$/, '')

const LIMIT = 8

const translations = {
	PRECEDENT: t('PRECEDENT'),
	SUIVANT: t('SUIVANT'),
	IMAGE_PLACEHOLDER: t('IMAGE_PLACEHOLDER'),
	EN_SAVOIR_PLUS: t('EN_SAVOIR_PLUS'),
	MOTS_CLES: t('MOTS_CLES'),
	ANNEE: t('ANNEE'),
	AUCUN_CONTENU: t('AUCUN_CONTENU'),
	TOUS: t('TOUS'),
	collectionOptions: [
		{ key: t('ART_VIVANT'), value: 'art_vivant' },
		{ key: t('PARC_NATIONAL'), value: 'parc_national' },
		{ key: t('EXPOSITION'), value: 'exposition' },
		{ key: t('AUTRES_ACTUALITES'), value: 'autres_actualites' },
		{ key: t('CINEMA'), value: 'cinema' }
	]
}

const twoWeeksAgo = new Date()
twoWeeksAgo.setDate(twoWeeksAgo.getDate() - 14)
const initialData = await find<ArchiveDoc>('art_vivant', {
	limit: LIMIT,
	page: 1,
	locale,
	upcomingOnly: false,
	where: {
		archive: { equals: true },
		date_start: { less_than: twoWeeksAgo.toISOString() }
	}
})

const PAYLOAD_URL = import.meta.env.PUBLIC_PAYLOAD_URL
---

<Layout title={t('ARCHIVES')}>
	<main id="main-content">
		<section class="section-default" id="archives">
			<article>
				<h1 class="pb-2 lg:pb-3">{t('ARCHIVES')}</h2>
				<p class="distinguished pb-3 lg:pb-6">{t('ARCHIVES_DESC')}</p>
			</article>

			<ArchivesGrid
				client:load
				locale={locale}
				localePrefix={localePrefix}
				limit={LIMIT}
				payloadUrl={PAYLOAD_URL}
				initialData={initialData}
				translations={translations}
			/>
		</section>
	</main>
</Layout>
