---
export const prerender = true

import { find, findByID } from '@/api/payload'
import MyImage from '@/components/my-image.astro'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'
import { translateLudoDuration, translateLudoPlayers, translateLudoPublic } from '@/lib/translate-fields'
import { cn } from '@/lib/utils'
import type { Mediatheque } from '@/types/mediatheque'
import { MDV_DEFAULT_ADDRESS } from '@/utils/helper'
export async function getStaticPaths() {
	const locale = 'fr'
	const data = await find<Mediatheque>('mediatheque', {
		limit: 50,
		locale,
		where: {
			type: { equals: 'ludotheque' }
		}
	})

	return data.docs.map((item) => ({
		params: { id: item.id }
	}))
}

const locale = (Astro.currentLocale || 'fr') as I18n
const { id } = Astro.params

// Fetch item for current locale
const item = await findByID<Mediatheque>('mediatheque', id, { locale })
const t = createTranslator(locale)

const descText = item.description.root.children
	.flatMap((para) => para.children)
	.filter((child) => child.type === 'text')
	.map((child) => child.text)
	.join(' ')

const moreInfoText = item.informations_more
	? item.informations_more.root.children
			.flatMap((para) => para.children)
			.filter((child) => child.type === 'text')
			.map((child) => child.text)
			.join(' ')
	: null

const allImages = (item.other_images?.map((img) => img.image) || []).filter(Boolean).slice(0, 3)
---

<Layout title={item.title}>
	<main>
		<section class="section-default bg-primary/20">
			<article class="grid grid-cols-1 lg:grid-cols-2 gap-3 lg:gap-8">
				<div class="flex items-center justify-center order-2 lg:order-1">
					<MyImage
						src={item.thumbnail?.url}
						alt={item.thumbnail?.alt ?? item.title}
						background={item.thumbnail?.blurhash}
						width={850}
						height={850}
						layout="constrained"
					/>
				</div>

				<div class="flex flex-col order-1 lg:order-2">
					<h1 class="pb-3 lg:pb-6 text-2xl lg:text-4xl font-bold text-black">{item.title}</h1>

					<p class="distinguished mb-4 lg:mb-8 text-sm">{item.genre}</p>

					<div class="flex flex-wrap text-center gap-3">
						<span class="text-primary inline-block bg-white px-2 py-1">{translateLudoPublic(item.public, t)}</span>
						<span class="text-primary inline-block bg-white px-2 py-1">{translateLudoPlayers(item.players, t)}</span>
						<span class="text-primary inline-block bg-white px-2 py-1">{translateLudoDuration(item.duration, t)}</span>
					</div>
				</div>
			</article>
		</section>

		<section class="section-default">
			<article class="grid grid-cols-1 lg:grid-cols-3 gap-3 lg:gap-5 pb-8 lg:pb-16">
				<div class="lg:col-span-2 flex flex-col order-1">
					<h2 class={cn('pb-2 lg:pb-3', !moreInfoText ? 'pb-8 lg:pb-16' : 'pb-2 lg:pb-3')}>{item.title}</h2>
					{moreInfoText && <p class="distinguished pb-8 lg:pb-16">{moreInfoText}</p>}
					<p>{descText}</p>
					<div class="bg-primary/20 mt-8 lg:mt-16 px-5 py-8">
						<ul class="space-y-5">
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('DATE_DISPONIBILITE')}</span> : {item.availability_date}
							</li>
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('LIEU')}</span> : {item.location || MDV_DEFAULT_ADDRESS}
							</li>
							<li class="flex flex-wrap items-center gap-3 border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('PRIX')}</span> :
								{
									item.price
										.split(';')
										.map((price: string) => (
											<span class="text-primary inline-block bg-white px-2 py-1">{price.trim()}</span>
										))
								}
							</li>
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('GENRE')}</span> : {item.genre}
							</li>
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('DURATION')}</span> : {item.duration}
							</li>
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('AUTEURS')}</span> : {item.authors}
							</li>
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('MATERIEL')}</span> : {item.materiel}
							</li>
						</ul>
					</div>
				</div>
				<div class="grid grid-cols-2 lg:grid-cols-4 lg:grid-rows-4 gap-2 lg:gap-5 order-2">
					{
						(() => {
							// 1 image: full grid
							if (allImages.length < 2) {
								return (
									<MyImage
										src={allImages?.[0]?.url}
										alt={allImages?.[0]?.alt ?? t('IMAGE_PLACEHOLDER')}
										background={allImages?.[0]?.blurhash}
										width={600}
										height={880}
										layout="fullWidth"
										class="col-span-2 lg:col-span-4 lg:row-span-4 max-h-96 lg:max-h-none object-cover"
									/>
								)
							}

							// 2 images: stacked vertically
							if (allImages.length === 2) {
								return allImages.map((img) => (
									<MyImage
										src={img?.url}
										alt={img?.alt ?? t('IMAGE_PLACEHOLDER')}
										background={img?.blurhash}
										width={600}
										height={440}
										layout="fullWidth"
										class="col-span-2 lg:col-span-4 lg:row-span-2 max-h-48 lg:max-h-none object-cover"
									/>
								))
							}

							// 3 images: 1 top, 2 bottom
							if (allImages.length === 3) {
								return (
									<>
										<MyImage
											src={allImages?.[0]?.url}
											alt={allImages?.[0]?.alt ?? t('IMAGE_PLACEHOLDER')}
											background={allImages?.[0]?.blurhash}
											width={600}
											height={440}
											layout="fullWidth"
											class="col-span-2 lg:col-span-4 lg:row-span-2 max-h-48 lg:max-h-none object-cover"
										/>
										{allImages.slice(1, 3).map((img) => (
											<MyImage
												src={img?.url}
												alt={img?.alt ?? t('IMAGE_PLACEHOLDER')}
												background={img?.blurhash}
												width={300}
												height={440}
												layout="fullWidth"
												class="col-span-1 lg:col-span-2 lg:row-span-2 max-h-48 lg:max-h-none object-cover"
											/>
										))}
									</>
								)
							}
						})()
					}
				</div>
			</article>
		</section>
	</main>
</Layout>
