---
export const prerender = true
import EspaceCultureImg from '@/assets/imgs/espace-culture-nature.png'
import MyImage from '@/components/my-image.astro'
import { Button } from '@/components/ui/button'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'

const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)
---
export const prerender = true

<Layout title={t('ACCUEIL_TITLE')}>
	<main>
		<section class="section-default" id="residence">
			<article class="grid grid-cols-2 gap-5">
				<div class="grid grid-cols-2 gap-5">
					<MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" class="col-span-1" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" class="col-span-1" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" class="col-span-2" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={150} layout="fullWidth" class="col-span-1" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={150} layout="fullWidth" class="col-span-1" />
				</div>
				<div class="flex flex-col">
					<h2 class="text-primary pb-3">{t('RESIDENCE_ACCUEIL_TITRE')}</h2>
					<p class="distinguished pb-16">{t('RESIDENCE_ACCUEIL_INTRO')}</p>
					<p class="whitespace-pre-line">
						{t('RESIDENCE_ACCUEIL_DESC')}
					</p>
				</div>
			</article>
		</section>

		<section class="section-default bg-primary/20" id="informations">
			<article class="grid grid-cols-2 gap-5">
				<div class="flex flex-col">
					<h2 class="text-primary pb-3">{t('INFORMATIONS_TECHNIQUES_TITRE')}</h2>
					<p class="distinguished pb-16">{t('INFORMATIONS_TECHNIQUES_INTRO')}</p>
					<p>
						{t('INFORMATIONS_TECHNIQUES_DESC')}
					</p>

					<Button link="/" size={'xl'} className="mt-auto w-fit">{t('DOSSIER_TECHNIQUE')}</Button>
					<Button link="/" size={'xl'} className="mt-6 w-fit">{t('DOSSIER_CANDIDATURE')}</Button>
				</div>
				<div class="grid grid-cols-2 gap-5">
					<MyImage alt="" src={EspaceCultureImg} width={400} height={150} layout="fullWidth" class="col-span-1" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={150} layout="fullWidth" class="col-span-1" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" class="col-span-2" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" class="col-span-1" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" class="col-span-1" />
				</div>
			</article>
		</section>
	</main>
</Layout>
