---
import EspaceCultureImg from '@/assets/imgs/espace-culture-nature.png'
import ExemplePersonImg from '@/assets/imgs/exemple-person.png'
import SectionBg from '@/assets/imgs/section-image.png'
import MyImage from '@/components/my-image.astro'
import { Button } from '@/components/ui/button'
import langs from '@/i18n/langs'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'

const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)

// Hero categories with links
const categories: Array<{ key: keyof typeof langs.fr; href: string; image: string }> = [
	{
		key: 'ART_VIVANT',
		href: '/art-vivant',
		image: ExemplePersonImg.src
	},
	{
		key: 'CINEMA',
		href: '/cinema',
		image: ExemplePersonImg.src
	},
	{
		key: 'MEDIATHEQUE',
		href: '/mediatheque',
		image: ExemplePersonImg.src
	},
	{
		key: 'EXPOSITION',
		href: '/exposition',
		image: ExemplePersonImg.src
	},
	{
		key: 'JEUNESSE',
		href: '/jeunesse',
		image: ExemplePersonImg.src
	},
	{
		key: 'ARTISTE',
		href: '/artiste',
		image: ExemplePersonImg.src
	}
]
---

<Layout title={t('ACCUEIL_TITLE')}>
	<main>
		<section class="relative mt-6 flex min-h-screen flex-col">
			<!-- Background image with overlay -->
			<div class="absolute inset-0 z-0">
				<MyImage
					src={SectionBg}
					alt=""
					role="presentation"
					class="absolute inset-0 h-full w-full object-cover"
					loading="eager"
					fetchpriority="high"
					layout="fullWidth"
					width={600}
					height={600}
				/>
				<div class="absolute inset-0 bg-linear-to-b from-transparent via-transparent to-black/30"></div>
			</div>

			<!-- Content Container -->
			<div class="relative flex flex-1 flex-col px-10 py-16">
				<!-- Main Title -->
				<header class="mb-auto pt-8">
					<h1>
						{t('SITE_TITLE')}
					</h1>
				</header>

				<!-- Category Cards Grid -->
				<nav class="mt-auto" aria-label={t('NAVIGATION_PRINCIPALE')}>
					<ul class="mx-auto grid max-w-[90%] grid-cols-2 gap-7 md:grid-cols-3 lg:grid-cols-6">
						{
							categories.map((category) => (
								<li>
									<a href={category.href} aria-label={t(category.key)}>
										<article>
											{/* Card Image */}
											{/* <figure class="relative overflow-hidden"> */}
											<figure>
												<MyImage
													src={category.image}
													alt={t(category.key)}
													loading="lazy"
													class="mx-auto drop-shadow-2xl"
													width={200}
													height={350}
													layout="constrained"
												/>
												{/* Gradient Overlay */}
												{/* <div class="absolute inset-0 bg-linear-to-t from-black/50 via-black/5 to-transparent"></div> */}
												<figcaption class="pt-2">
													<h2 class="text-primary-foreground text-center">{t(category.key)}</h2>
												</figcaption>
											</figure>
										</article>
									</a>
								</li>
							))
						}
					</ul>
				</nav>
			</div>
		</section>

		<section class="section-default">
			<article class="grid grid-cols-2 gap-5">
				<div class="grid grid-cols-2 gap-5">
					<MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" class="col-span-1" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" class="col-span-1" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" class="col-span-2" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={150} layout="fullWidth" class="col-span-1" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={150} layout="fullWidth" class="col-span-1" />
				</div>
				<div class="flex flex-col">
					<h2 class="text-primary pb-3">Accueil en résidence artistique</h2>
					<p class="distinguished pb-16">Un accompagnement dédié</p>
					<p>
						La résidence artistique est un temps privilégié que nous vous proposons pour créer, rechercher et
						expérimenter. Elle vous offre un espace de travail, des moyens adaptés et un cadre propice pour développer
						votre projet artistique, affiner votre écriture ou finaliser une œuvre.<br /><br />

						En vous accueillant en résidence, nous affirmons notre engagement en faveur de la création et du soutien aux
						compagnies, notamment locales. Ces temps de travail sont pensés pour vous accompagner dans votre parcours
						artistique et vous offrir des conditions favorables à l’épanouissement de votre projet.
					</p>

					<Button link="/" size={'xl'} className="mt-auto w-fit">Bouton</Button>
				</div>
			</article>
		</section>

		<section class="section-default bg-primary/20">
			<article class="grid grid-cols-2 gap-5">
				<div class="flex flex-col">
					<h2 class="text-primary pb-3">Les informations techniques</h2>
					<p class="distinguished pb-16">Dossiers technique et de candidature</p>
					<p>
						Consultez et téléchargez tous les dossiers techniques relatifs à notre salle de spectacle et à notre salle
						d’exposition. Le dossier de candidature pour nos résidences artistiques est également disponible.
					</p>

					<Button link="/" size={'xl'} className="mt-auto w-fit">Bouton</Button>
				</div>
				<div class="grid grid-cols-2 gap-5">
					<MyImage alt="" src={EspaceCultureImg} width={400} height={150} layout="fullWidth" class="col-span-1" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={150} layout="fullWidth" class="col-span-1" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" class="col-span-2" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" class="col-span-1" />
					<MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" class="col-span-1" />
				</div>
			</article>
		</section>
	</main>
</Layout>
