---
export const prerender = true
import EspaceCultureImg from '@/assets/imgs/espace-culture-nature.png'
import MyImage from '@/components/my-image.astro'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'

const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)
---

<Layout title={t('ACCUEIL_TITLE')}>
	<main>
		<section class="section-default">
			<article class="grid grid-cols-3 gap-5 pb-16">
				<div class="col-span-2 flex flex-col">
					<h2 class="text-primary pb-3">{t('SYNOPSIS_DETAILS')}</h2>
					<p class="distinguished pb-16">Cosmogénèse - Emmanuelle Williot</p>
					<p>
						Les règles qui régissent l’univers, le mettent en scène, sont les mêmes pour tous, pour toutes choses. Pour
						Emmanuelle Williot, l’acte de création trouve son sens dans la recherche d’une réalité qui nous dépasse, que
						nous ne pouvons qu’effleurer du bout des doigts. La quête du monde sensible par la pratique de la peinture
						amène dans un lieu qui a sa propre vie, sa temporalité, ses propres règles, et qui n’a pour limites que
						celles que nous nous imposons. Peindre plonge dans une condition sensible qui éclaire sous un jour nouveau
						l’acte de création en tant que tel et le milieu dans lequel nous évoluons. Le cheminement du peintre
						consiste à avancer à tâtons dans cette pénombre, à façonner et transcender les limites de nos sensations, de
						nos perceptions à la recherche de nouvelles interprétations de notre monde. Ce n’est pas un hasard si les
						ramures des arbres ressemblent étrangement au déploiement de nos tissus pulmonaires. Il s’agit du même
						principe, des mêmes lois qui gouvernent cette organisation secrète de toutes choses et qui sommeillent en
						nous comme autant de trésors oubliés. Une même logique universelle qui, du micro au macro, de l’infiniment
						petit au cosmos sans limite, ordonne le chaos de l’univers et régit le désordre de nos vies. Chacun de ces
						déploiements est d’une logique et d’une évidence qu’il nous est difficile de percevoir et dont il est
						impossible de saisir toutes les nuances et l’infinie complexité. Nous sommes des univers en soi. Nous sommes
						les éléments d’un tout Peindre, c’est cette quête ardue : parvenir à lever le voile qui pèse trop souvent
						sur nos sens. C’est voir en aveugle ; révéler. Ces cosmogénèses.
					</p>
					<div class="bg-primary/20 mt-16 px-5 py-8">
						<ul class="space-y-5">
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('DATE')}</span> : Du mercredi 7 au samedi 31 janvier
							</li>
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('HORAIRE')}</span> : 20h30
							</li>
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('ADRESSE')}</span> : Salle des voûtes, Maison de la Valée, 24 Place Saint Clément,
								65120 LUZ-SAINT-SAUVEUR
							</li>
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('TARIF')}</span> : <span
									class="text-primary ml-3 inline-block bg-white px-1 py-1">12$ - normal</span
								>
								<span class="text-primary ml-3 inline-block bg-white px-1 py-1">12$ - réduit</span>
							</li>
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('DUREE')}</span> : 1h33 min
							</li>
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('GENRE')}</span> : Drame, Guerre
							</li>
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('REALISATION')}</span> : Fatih Akın
							</li>
							<li class="border-b border-black/20 px-5 pb-4">
								<span class="font-bold">{t('AVEC')}</span> : Jasper Billerbeck, Laura Tonke, Diane Kruger
							</li>
							<li class="flex items-center justify-center gap-3">
								<span class="bg-primary text-primary-foreground distinguished inline-block px-1 py-1">Conférence</span>
								<span class="bg-primary text-primary-foreground distinguished inline-block px-1 py-1">Conférence</span>
								<span class="bg-primary text-primary-foreground distinguished inline-block px-1 py-1">Conférence</span>
								<span class="bg-primary text-primary-foreground distinguished inline-block px-1 py-1">Conférence</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="grid grid-cols-3 grid-rows-3 gap-5">
					<MyImage
						src={EspaceCultureImg}
						alt={''}
						width={600}
						height={350}
						layout="fullWidth"
						class="col-span-3 row-span-1"
					/>
					<MyImage
						src={EspaceCultureImg}
						alt={''}
						width={600}
						height={500}
						layout="fullWidth"
						class="col-span-2 row-span-2"
					/>
					<MyImage
						src={EspaceCultureImg}
						alt={''}
						width={200}
						height={150}
						layout="fullWidth"
						class="col-span-1 row-span-1"
					/>
					<MyImage
						src={EspaceCultureImg}
						alt={''}
						width={200}
						height={150}
						layout="fullWidth"
						class="col-span-1 row-span-1"
					/>
					<MyImage
						src={EspaceCultureImg}
						alt={''}
						width={400}
						height={450}
						layout="constrained"
						class="col-span-1 row-span-1"
					/>
					<MyImage
						src={EspaceCultureImg}
						alt={''}
						width={400}
						height={450}
						layout="constrained"
						class="col-span-1 row-span-1"
					/>
				</div>
			</article>
		</section>

		<section class="section-default">
			<article class="grid grid-cols-2 gap-5">
				<div class="flex flex-col">
					<h2 class="text-secondary pb-3">{t('OU_NOUS_TROUVER_TITRE')}</h2>
					<p class="distinguished pb-16">{t('MAISON_DU_PARC')}</p>
					<div class="grid grid-cols-2 gap-5">
						<div class="bg-secondary/20 px-5 py-8">
							<ul class="space-y-5">
								<li class="border-b border-black/20 px-5 pb-4">
									<span class="font-bold">{t('HORAIRES')}</span> : Du lundi au samedi de 14h à 19h. Le dimanche de 17h à 19h.
								</li>

								<li class="px-5">
									<span class="font-bold">{t('ADRESSE')}</span> : Salle des voûtes, Maison de la Valée, 24 Place Saint Clément,
									65120 LUZ-SAINT-SAUVEUR
								</li>
							</ul>
						</div>
						<div class="bg-secondary/20 px-5 py-8">
							<ul class="space-y-5">
								<li class="border-b border-black/20 px-5 pb-4">
									<span class="font-bold">{t('PARKING')}</span> : {t('PARKING_ADRESSE')}
								</li>

								<li class="px-5">
									<span class="font-bold">{t('ACCES_TRANSPORT_PUBLIC')}</span> : {t('ACCES_TRANSPORT_PUBLIC_DESC')}
								</li>
							</ul>
						</div>
					</div>
				</div>

				<iframe
					width="450"
					height="250"
					frameborder="0"
					style="border:0"
					referrerpolicy="no-referrer-when-downgrade"
					src="https://maps.app.goo.gl/9tKkT2gJVmbFuiLc9"
					allowfullscreen
				>
				</iframe>
			</article>
		</section>
	</main>
</Layout>
