---
import EspaceCultureImg from '@/assets/imgs/espace-culture-nature.png'
import ExemplePersonImg from '@/assets/imgs/exemple-person.png'
import SectionBg from '@/assets/imgs/section-image.png'
import MyImage from '@/components/my-image.astro'
import { Button } from '@/components/ui/button'
import { Input } from '@/components/ui/input'
import  langs from '@/i18n/langs'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'

const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)

// Hero categories with links
const categories: Array<{key: keyof typeof langs.fr, href: string, image: string}> = [
    {
        key: 'ART_VIVANT',
        href: '/art-vivant',
        image: ExemplePersonImg.src
    },
    {
        key: 'CINEMA',
        href: '/cinema',
        image: ExemplePersonImg.src
    },
    {
        key: 'MEDIATHEQUE',
        href: '/mediatheque',
        image: ExemplePersonImg.src
    },
    {
        key: 'EXPOSITION',
        href: '/exposition',
        image: ExemplePersonImg.src
    },
    {
        key: 'JEUNESSE',
        href: '/jeunesse',
        image: ExemplePersonImg.src
    },
    {
        key: 'ARTISTE',
        href: '/artiste',
        image: ExemplePersonImg.src
    }
]
---

<Layout title={t('ACCUEIL_TITLE')}>
    <main class="pb-8">
        <!-- Hero Section -->
        <section class="relative min-h-screen flex flex-col mt-6">
            <!-- Background image with overlay -->
            <div class="absolute inset-0 z-0">
                <MyImage
                    src={SectionBg}
                    alt=""
                    role="presentation"
                    class="absolute inset-0 w-full h-full object-cover"
                    loading="eager"
                    fetchpriority="high"
                    layout="fullWidth"
                    width={600}
                    height={600}
                />
                <div class="absolute inset-0 bg-linear-to-b from-transparent via-transparent to-black/30"></div>
            </div>

            <!-- Content Container -->
            <div class="relative flex flex-col flex-1 px-10 py-16">
                <!-- Main Title -->
                <header class="mb-auto pt-8">
                    <h1>
                        {t('SITE_TITLE')}
                    </h1>
                </header>

                <!-- Category Cards Grid -->
                <nav class="mt-auto" aria-label={t('NAVIGATION_PRINCIPALE')}>
                    <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-7 max-w-[90%] mx-auto">
                        {categories.map((category) => (
                            <li>
                                <a
                                    href={category.href}
                                    aria-label={t(category.key)}
                                >
                                    <article>
                                        <!-- Card Image -->
                                        <!-- <figure class="relative overflow-hidden"> -->
                                        <figure>
                                            <MyImage
                                                src={category.image}
                                                alt={t(category.key)}
                                                loading="lazy"
                                                class="drop-shadow-2xl mx-auto"
                                                width={200}
                                                height={350}
                                                layout="constrained"
                                            />
                                            <!-- Gradient Overlay -->
                                            <!-- <div class="absolute inset-0 bg-linear-to-t from-black/50 via-black/5 to-transparent"></div> -->
                                            <figcaption class="pt-2">
                                                <h2 class="text-center text-primary-foreground">
                                                    {t(category.key)}
                                                </h2>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </a>
                            </li>
                        ))}
                    </ul>
                </nav>
            </div>
        </section>

        <section class="section-default">
            <article class="flex gap-4 ">
                <div class="w-2/3">
                    <h2 class="pb-3">{t('ESPACE_CULTURE_TITRE')}</h2>
                    <p class="pb-6 distinguished">{t('ESPACE_CULTURE_INTRO')}</p>
                    <p>
                        {t('ESPACE_CULTURE_DESC_PART1')}<br/><br/>
                        {t('ESPACE_CULTURE_DESC_PART2')}<br/><br/>
                        {t('ESPACE_CULTURE_DESC_PART3')}<br/><br/>
                        {t('ESPACE_CULTURE_DESC_PART4')}<br/><br/>
                        {t('ESPACE_CULTURE_DESC_PART5')}
                    </p>
                </div>
                <div class="w-1/3 grid grid-cols-3 gap-4">
                    <MyImage alt="" src={EspaceCultureImg} width={320} height={140} layout="fullWidth" class="col-span-2 h-full object-cover" />
                    <MyImage alt="" src={EspaceCultureImg} width={200} height={140} layout="fullWidth" class="col-span-1 h-full object-cover" />
                    <MyImage alt="" src={EspaceCultureImg} width={640} height={250} layout="constrained" class="col-span-3 h-full object-cover" />
                    <MyImage alt="" src={EspaceCultureImg} width={200} height={140} layout="fullWidth" class="col-span-1 h-full object-cover" />
                    <MyImage alt="" src={EspaceCultureImg} width={320} height={140} layout="fullWidth" class="col-span-2 h-full object-cover" />
                </div>
            </article>


            <Button link="/"  size={"xl"} className="mt-12">{t('BOUTON_LIEN')}</Button>

        </section>

         <section class="section-default bg-secondary-muted/40">
             <article class="flex gap-5">
                 <div class="w-2/12">
                     <MyImage alt="" src={EspaceCultureImg} width={280} height={320} layout="fullWidth" class="mb-6" />
                     <MyImage alt="" src={EspaceCultureImg} width={280} height={320} layout="fullWidth" />
                 </div>
                 <div class="w-7/12">
                     <h2 class="pb-3">{t('SPECTACLES_A_VENIR')}</h2>
                     <p class="distinguished pb-6">{t('SPECTACLES_INTRO')}</p>
                     <p>
                        {t('ESPACE_CULTURE_DESC_PART1')}<br/>
                        {t('ESPACE_CULTURE_DESC_PART2')}<br/>
                        {t('ESPACE_CULTURE_DESC_PART3')}<br/>
                        {t('ESPACE_CULTURE_DESC_PART4')}<br/>
                        {t('ESPACE_CULTURE_DESC_PART5')}
                     </p>
                 </div>
                 <div class="w-3/12">
                     <MyImage class="w-2/6" alt="" src={EspaceCultureImg} width={550} height={664} layout="fullWidth" />
                 </div>
             </article>

             <div class="my-16 flex gap-4">
                 <article class="group bg-white w-full shadow-xs">
                     <div class="overflow-hidden">
                         <MyImage src={EspaceCultureImg} alt='' width={300} height={200} layout='fullWidth' class="transition-transform duration-250 group-hover:scale-110"/>
                     </div>
                     <figure class="p-4">
                         <figcaption>
                             <h3 class="pb-1">{t('EVENT_TITLE')}</h3>
                             <time class="italic text-sm"
                    datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
                             <p class="text-sm pt-3">{t('EVENT_DESC_EXAMPLE')}</p>
                         </figcaption>
                     </figure>
                 </article>
                 <article class="group bg-white w-full shadow-xs">
                     <div class="overflow-hidden">
                         <MyImage src={EspaceCultureImg} alt='' width={300} height={200} layout='fullWidth' class="transition-transform duration-250 group-hover:scale-110"/>
                     </div>
                     <figure class="p-4">
                         <figcaption>
                             <h3 class="pb-1">{t('EVENT_TITLE')}</h3>
                             <time class="italic text-sm"
                    datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
                             <p class="text-sm pt-3">{t('EVENT_DESC_EXAMPLE')}</p>
                         </figcaption>
                     </figure>
                 </article>
                 <article class="group bg-white w-full shadow-xs">
                     <div class="overflow-hidden">
                         <MyImage src={EspaceCultureImg} alt='' width={300} height={200} layout='fullWidth' class="transition-transform duration-250 group-hover:scale-110"/>
                     </div>
                     <figure class="p-4">
                         <figcaption>
                             <h3 class="pb-1">{t('EVENT_TITLE')}</h3>
                             <time class="italic text-sm"
                    datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
                             <p class="text-sm pt-3">{t('EVENT_DESC_EXAMPLE')}</p>
                         </figcaption>
                     </figure>
                 </article>
                 <article class="group bg-white w-full shadow-xs">
                     <div class="overflow-hidden">
                         <MyImage src={EspaceCultureImg} alt='' width={300} height={200} layout='fullWidth' class="transition-transform duration-250 group-hover:scale-110"/>
                     </div>
                     <figure class="p-4">
                         <figcaption>
                             <h3 class="pb-1">{t('EVENT_TITLE')}</h3>
                             <time class="italic text-sm"
                    datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
                             <p class="text-sm pt-3">{t('EVENT_DESC_EXAMPLE')}</p>
                         </figcaption>
                     </figure>
                 </article>
             </div>

            <Button link="/"  size={"xl"}>{t('VOIR_TOUS_SPECTACLES')}</Button>
         </section>

         <section class="section-default">
             <article>
                     <h2 class="pb-3">{t('SEANCES_A_VENIR')}</h2>
                     <p class="distinguished pb-6">{t('CINEMA_INTRO')}</p>
                     <p class="w-2/3">
                         {t('CINEMA_DESC')}
                     </p>

                     <div class="my-16 grid grid-cols-2 gap-5">
                         <article class="group w-full">
                             <div class="overflow-hidden">
                                 <MyImage src={EspaceCultureImg} alt='' width={300} height={200} layout='fullWidth' class="transition-transform duration-250 group-hover:scale-110"/>
                             </div>
                             <figure class="py-4">
                                 <figcaption>
                                     <h3 class="pb-1 text-secondary">{t('EVENT_TITLE')}</h3>
                                     <p class="italic text-sm pb-1"
                           >{t('EVENT_DESC_EXAMPLE')}</p>
                           <time class="italic text-sm"
                  datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
                                 </figcaption>
                             </figure>
                         </article>
                         <article class="group w-full">
                             <div class="overflow-hidden">
                                 <MyImage src={EspaceCultureImg} alt='' width={300} height={200} layout='fullWidth' class="transition-transform duration-250 group-hover:scale-110"/>
                             </div>
                             <figure class="py-4">
                                 <figcaption>
                                     <h3 class="pb-1 text-secondary">{t('EVENT_TITLE')}</h3>
                                     <p class="italic text-sm pb-1"
                           >{t('EVENT_DESC_EXAMPLE')}</p>
                           <time class="italic text-sm"
                  datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
                                 </figcaption>
                             </figure>
                         </article>
                         <article class="group w-full">
                             <div class="overflow-hidden">
                                 <MyImage src={EspaceCultureImg} alt='' width={300} height={200} layout='fullWidth' class="transition-transform duration-250 group-hover:scale-110"/>
                             </div>
                             <figure class="py-4">
                                 <figcaption>
                                     <h3 class="pb-1 text-secondary">{t('EVENT_TITLE')}</h3>
                                     <p class="italic text-sm pb-1"
                           >{t('EVENT_DESC_EXAMPLE')}</p>
                           <time class="italic text-sm"
                  datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
                                 </figcaption>
                             </figure>
                         </article>
                         <article class="group w-full">
                             <div class="overflow-hidden">
                                 <MyImage src={EspaceCultureImg} alt='' width={300} height={200} layout='fullWidth' class="transition-transform duration-250 group-hover:scale-110"/>
                             </div>
                             <figure class="py-4">
                                 <figcaption>
                                     <h3 class="pb-1 text-secondary">{t('EVENT_TITLE')}</h3>
                                     <p class="italic text-sm pb-1"
                           >{t('EVENT_DESC_EXAMPLE')}</p>
                           <time class="italic text-sm"
                  datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
                                 </figcaption>
                             </figure>
                         </article>
                         <article class="group w-full">
                             <div class="overflow-hidden">
                                 <MyImage src={EspaceCultureImg} alt='' width={300} height={200} layout='fullWidth' class="transition-transform duration-250 group-hover:scale-110"/>
                             </div>
                             <figure class="py-4">
                                 <figcaption>
                                     <h3 class="pb-1 text-secondary">{t('EVENT_TITLE')}</h3>
                                     <p class="italic text-sm pb-1"
                           >{t('EVENT_DESC_EXAMPLE')}</p>
                           <time class="italic text-sm"
                  datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
                                 </figcaption>
                             </figure>
                         </article>
                         <article class="group w-full">
                             <div class="overflow-hidden">
                                 <MyImage src={EspaceCultureImg} alt='' width={300} height={200} layout='fullWidth' class="transition-transform duration-250 group-hover:scale-110"/>
                             </div>
                             <figure class="py-4">
                                 <figcaption>
                                     <h3 class="pb-1 text-secondary">{t('EVENT_TITLE')}</h3>
                                     <p class="italic text-sm pb-1"
                           >{t('EVENT_DESC_EXAMPLE')}</p>
                           <time class="italic text-sm"
                  datetime="2025-02-04">{t('EVENT_DATE_EXAMPLE')}</time>
                                 </figcaption>
                             </figure>
                         </article>
                     </div>

             </article>


             <Button link="/"  size={"xl"} className="mt-12">{t('VOIR_TOUTES_SEANCES')}</Button>

         </section>

         <section class="section-default bg-primary-muted/40">
             <article class="grid grid-cols-2 gap-5">
                 <div class="flex flex-col">
                     <h2 class="pb-3 text-secondary">{t('EXPO_MOMENT_TITRE')}</h2>
                     <h3 class="pb-3 text-secondary">{t('EXPO_MOMENT_NOM')}</h3>
                     <p class="italic pb-16">{t('EXPO_MOMENT_DATES')}</p>
                     <p>
                         {t('EXPO_MOMENT_DESC_PART1')}<br><br>
                         {t('EXPO_MOMENT_DESC_PART2')}
                     </p>


                     <Button variant={"secondary"} link="/"  size={"xl"}  className='mt-auto w-fit'>{t('EN_SAVOIR_PLUS')}</Button>
                 </div>
                 <div class="space-y-5">
                     <!-- Top image full width -->
                     <MyImage alt="" src={EspaceCultureImg} width={800} height={300} layout="fullWidth" />

                     <!-- Bottom grid with 2 columns -->
                     <div class="grid grid-cols-2 gap-5">
                         <!-- Left column -->
                         <div class="space-y-5">
                             <MyImage alt="" src={EspaceCultureImg} width={400} height={180} layout="fullWidth" />
                             <MyImage alt="" src={EspaceCultureImg} width={400} height={370} layout="fullWidth" />
                         </div>

                         <!-- Right column -->
                         <div class="space-y-5">
                             <MyImage alt="" src={EspaceCultureImg} width={400} height={430} layout="fullWidth" />
                             <MyImage alt="" src={EspaceCultureImg} width={400} height={120} layout="fullWidth" />
                         </div>
                     </div>
                 </div>
               </article>
         </section>

         <section class="section-default">
             <article class="max-w-200 mx-auto">
                 <h2 class="pb-4">{t('NEWSLETTER_TITRE')}</h2>
                 <p class="italic pb-7">{t('NEWSLETTER_INTRO')}</p>
                <p class="pb-8">{t('NEWSLETTER_DESC')}</p>

                <div class="flex items-center gap-4">
                    <Input className="w-full h-12 bg-secondary-muted/40 border-none" placeholder={t('EMAIL_PLACEHOLDER')} />
                    <Button size={"xl"}>{t('NEWSLETTER_BOUTON')}</Button>
                </div>
             </article>
         </section>

         <section class="section-default bg-secondary-muted/40">
             <article class="grid grid-cols-[1fr_2fr] gap-16">
                 <!-- Left side: Images grid -->
                 <div class="grid grid-cols-2 gap-5">
                     <MyImage alt="" src={EspaceCultureImg} width={250} height={150} layout="fullWidth" />
                     <MyImage alt="" src={EspaceCultureImg} width={250} height={150} layout="fullWidth" />
                     <MyImage alt="" src={EspaceCultureImg} width={400} height={200} layout="fullWidth" class="col-span-2" />
                     <MyImage alt="" src={EspaceCultureImg} width={250} height={150} layout="fullWidth" />
                     <MyImage alt="" src={EspaceCultureImg} width={250} height={150} layout="fullWidth" />
                 </div>

                 <!-- Right side: Content -->
                 <div>
                     <h2 class="pb-3 text-secondary">{t('VALEURS_TITRE')}</h2>
                     <p class="distinguished pb-6">{t('VALEURS_INTRO')}</p>
                     <p>
                         {t('VALEURS_DESC')}
                     </p>
                 </div>
             </article>
         </section>
    </main>
</Layout>
