---
export const prerender = true
import { findGlobal } from '@/api/payload'
import BeHappyImg from '@/assets/imgs/sponsos/be-happy.webp'
import EuropeImg from '@/assets/imgs/sponsos/europe.webp'
import HautesPyreneesImg from '@/assets/imgs/sponsos/hautes-pyrenees.webp'
import OccitanieImg from '@/assets/imgs/sponsos/occitanie.webp'
import ParcNationalImg from '@/assets/imgs/sponsos/parc-national.webp'
import PrefetImg from '@/assets/imgs/sponsos/prefet.webp'
import MyImage from '@/components/my-image.astro'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'
import type { Hour } from '@/types/hours'
import { MDV_DEFAULT_ADDRESS, TELEPHONE_DEFAULT } from '@/utils/helper'

const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)
const hours = await findGlobal<Hour>('hours', { locale })
const formatTime = (dateStr: string) => {
	return new Date(dateStr).toLocaleTimeString(locale, {
		hour: '2-digit',
		minute: '2-digit',
		hour12: false
	})
}
---

<Layout title={t('INFORMATIONS')}>
	<main id="main-content">
		<h1 class="sr-only">{t('INFORMATIONS')}</h1>
		<section class="section-default" id="horaires">
			<article class="grid grid-cols-1 gap-3 lg:grid-cols-2 lg:gap-5">
				<div class="flex flex-col">
					<h2 class="text-primary pb-2 lg:pb-3">{t('OU_NOUS_TROUVER_TITRE')}</h2>
					<p class="distinguished pb-8 lg:pb-16">{t('MAISON_DU_PARC_COMPLET')}</p>
					<div class="grid grid-cols-1 gap-3 lg:grid-cols-2 lg:gap-5">
						<div class="bg-primary/20 px-5 py-8">
							<ul class="space-y-5">
								<li class="border-b border-black/20 px-5 pb-4">
									<span class="font-bold">{t('HORAIRES')}</span> :
									<div class="mt-2 space-y-1">
										<p>
											{t('LUNDI_SAMEDI')} : {formatTime(hours.horaires_base.base_start)} - {
												formatTime(hours.horaires_base.base_end)
											}
										</p>
										<p>
											{t('DIMANCHE')} : {formatTime(hours.horaires_base.dimanche_start)} - {
												formatTime(hours.horaires_base.dimanche_end)
											}
										</p>
									</div>
								</li>

								<li class="px-5">
									<span class="font-bold">{t('ADRESSE')}</span> :
									<p>{MDV_DEFAULT_ADDRESS}</p>
								</li>
							</ul>
						</div>
						<div class="bg-primary/20 px-5 py-8">
							<ul class="space-y-5">
								<li class="border-b border-black/20 px-5 pb-4 lg:pb-13">
									<span class="font-bold">{t('TELEPHONE')}</span> :
									<a class="block" href={`tel:${TELEPHONE_DEFAULT}`}>{TELEPHONE_DEFAULT}</a>
								</li>

								<li class="px-5">
									<span class="font-bold">{t('ACCES_TRANSPORT_PUBLIC')}</span> :
									<p>{t('PARKING')}</p>
									<p>{t('ACCES_TRANSPORT_PUBLIC_DESC')}</p>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<iframe
					class="h-full w-full"
					style="border:0"
					referrerpolicy="no-referrer-when-downgrade"
					src="https://www.google.com/maps?q=24+Place+Saint+Clément,+65120+Luz-Saint-Sauveur&output=embed"
					allowfullscreen
					title="Maison du Parc National et de la Vallée — Luz-Saint-Sauveur"
				>
				</iframe>
			</article>
		</section>

		<section class="section-default bg-primary/20" id="tarifs">
			<article>
				<h2 class="text-primary pb-2 lg:pb-3">{t('NOS_TARIFS')}</h2>
				<p class="distinguished pb-8 lg:pb-16">{t('NOS_TARIFS_INTRO')}</p>

				<div class="grid grid-cols-1 gap-3 lg:grid-cols-9 lg:gap-5">
					<div class="bg-primary text-primary-foreground p-6 lg:col-span-2">
						<h3 class="text-primary-foreground pb-10">{t('TARIFS_MEDIATHEQUE')}</h3>
						<p><span class="font-bold">{t('ADULTE')}</span> : 10€</p>
						<p class="distinguished mb-6 border-b border-white/20">{t('ANNEE')}</p>
						<p><span class="text-primary-foreground font-bold">{t('ENFANT')}</span> : 5€</p>
						<p class="distinguished mb-6 border-b border-white/20">{t('ANNEE')}</p>
						<p><span class="text-primary-foreground font-bold">{t('FAMILLE')}</span> : 5€</p>
						<p class="distinguished mb-6 border-b border-white/20">3 {t('SEMAINES')}</p>
						<p class="text-sm">Besoin d'une caution en espèce ou en chèque</p>
					</div>
					<MyImage src={null} alt="" width={200} height={380} layout="fullWidth" class="hidden lg:block" />
					<div class="bg-primary text-primary-foreground p-6 lg:col-span-2">
						<h3 class="text-primary-foreground pb-10">{t('TARIFS_SPECTACLE')}</h3>
						<p><span class="font-bold">{t('NORMAL')}</span> : 10€</p>
						<p class="distinguished mb-6 border-b border-white/20">{t('DES_14ANS')}</p>
						<p><span class="text-primary-foreground font-bold">{t('REDUIT')}</span> : 7€</p>
						<p class="distinguished mb-6 border-b border-white/20">{t('REDUIT_DESC')}</p>
						<p><span class="text-primary-foreground font-bold">{t('ENFANT')}</span> : {t('OFFERT')}</p>
						<p class="distinguished border-b border-white/20">{t('MOINS_3ANS')}</p>
					</div>
					<MyImage src={null} alt="" width={200} height={380} layout="fullWidth" class="hidden lg:block" />
					<div class="bg-primary text-primary-foreground p-6 lg:col-span-2">
						<h3 class="text-primary-foreground pb-10">{t('TARIFS_CINEMA')}</h3>
						<p class="mb-6 border-b border-white/20"><span class="font-bold">{t('ADULTE')}</span> : 7€</p>
						<p class="mb-6 border-b border-white/20"><span class="font-bold">{t('ETUDIANT')}</span> : 6€</p>
						<p class="mb-6 border-b border-white/20"><span class="font-bold">{t('ENFANT_MOINS_13')}</span> : 5€</p>
						<p class="border-b border-white/20">
							<span class="font-bold">Cartes abonnement</span> : 58€ <span class="text-sm">(10 entrées, non nominatives, et sans durée de validité)</span>
						</p>
					</div>
					<MyImage src={null} alt="" width={200} height={380} layout="fullWidth" class="hidden lg:block" />
				</div>
			</article>
		</section>

		<section class="section-default" id="equipe">
			<article>
				<h2 class="text-secondary pb-2 lg:pb-3">{t('EQUIPE_TITRE')}</h2>
				<p class="distinguished pb-8 lg:pb-16">{t('EQUIPE_INTRO')}</p>
				<p class="pb-8 lg:w-2/3 lg:pb-16">
					{t('EQUIPE_DESC')}
				</p>

				<div
					class="grid grid-cols-1 items-center justify-center gap-x-5 gap-y-12 md:grid-cols-2 lg:flex lg:flex-wrap lg:gap-y-20 lg:*:w-[20%]"
				>
					<figure>
						<MyImage src={null} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h3 class="text-secondary">Marque Cathy</h3>
							<p>{t('DIRECTRICE_ADMINISTRATIVE')}</p>
						</figcaption>
					</figure>
					<figure>
						<MyImage src={null} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h3 class="text-secondary">Lay Marie</h3>
							<p>{t('DIRECTRICE_ARTISTIQUE')}</p>
						</figcaption>
					</figure>
					<figure>
						<MyImage src={null} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h3 class="text-secondary">Boussac Chantal</h3>
							<p>{t('COMPTABLE')}</p>
						</figcaption>
					</figure>
					<figure>
						<MyImage src={null} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h3 class="text-secondary">Loo Santos Andréa</h3>
							<p>{t('RESPONSABLE_MEDIATHEQUE')}</p>
						</figcaption>
					</figure>
					<figure>
						<MyImage src={null} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h3 class="text-secondary">Bouillon Marie-Jade</h3>
							<p>{t('RESPONSABLE_CINEMA_EXPO')}</p>
						</figcaption>
					</figure>
					<figure>
						<MyImage src={null} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h3 class="text-secondary">Poulalion Léo-Polde</h3>
							<p>{t('TECHNICIEN_REGISSEUR')}</p>
						</figcaption>
					</figure>
					<figure>
						<MyImage src={null} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h3 class="text-secondary">Ferrand-David Mélinda</h3>
							<p>{t('AGENT_ENTRETIEN_ACCUEIL')}</p>
						</figcaption>
					</figure>
				</div>
			</article>
		</section>

		<section class="section-default bg-secondary/20" id="engagements">
			<article class="grid grid-cols-1 gap-3 lg:grid-cols-3 lg:gap-0">
				<div class="order-1 lg:col-span-2">
					<h2 class="text-secondary pb-2 lg:pb-3">{t('ENGAGEMENTS_VALEURS_TITRE')}</h2>
					<p class="distinguished pb-8 lg:pb-16">{t('ENGAGEMENTS_VALEURS_INTRO')}</p>
					<p class="whitespace-pre-line">
						{t('ENGAGEMENTS_VALEURS_DESC')}
					</p>
				</div>

				<div class="order-2 flex items-center justify-center gap-3 lg:col-span-1">
					<MyImage src={null} alt="" width={150} height={150} />
					<MyImage src={null} alt="" width={150} height={150} />
					<MyImage src={null} alt="" width={150} height={150} />
				</div>
			</article>
		</section>

		<section class="section-default" id="partenaires">
			<article class="grid grid-cols-1 gap-3 lg:grid-cols-3 lg:gap-5">
				<div class="order-1 lg:order-2 lg:col-span-2">
					<h2 class="text-primary pb-2 lg:pb-3">{t('PARTENAIRES_TITRE')}</h2>
					<p class="distinguished pb-8 lg:pb-16">{t('PARTENAIRES_INTRO')}</p>
					<p>
						{t('PARTENAIRES_DESC')}
					</p>
				</div>
				<div class="order-2 grid grid-cols-3 grid-rows-3 place-items-start gap-3 lg:order-1 lg:col-span-1 lg:pt-48">
					<MyImage src={BeHappyImg} alt="Be Happy" width={120} height={120} class="col-span-1" />
					<MyImage
						src={HautesPyreneesImg}
						alt="Département des Hautes-Pyrénées"
						width={120}
						height={120}
						class="col-span-1"
					/>
					<MyImage src={OccitanieImg} alt="Région Occitanie" width={120} height={120} class="col-span-1" />
					<MyImage src={PrefetImg} alt="Préfet des Hautes-Pyrénées" width={120} height={120} class="col-span-1" />
					<MyImage src={ParcNationalImg} alt="Parc National des Pyrénées" width={240} height={120} class="col-span-2" />
					<MyImage
						src={EuropeImg}
						alt="Union Européenne – Fonds Européen de Développement Régional"
						width={700}
						height={120}
						class="col-span-3"
					/>
				</div>
			</article>
		</section>
	</main>
</Layout>
