---
export const prerender = true
import { findGlobal } from '@/api/payload'
import EspaceCultureImg from '@/assets/imgs/espace-culture-nature.webp'
import BeHappyImg from '@/assets/imgs/sponsos/be-happy.webp'
import EuropeImg from '@/assets/imgs/sponsos/europe.webp'
import HautesPyreneesImg from '@/assets/imgs/sponsos/hautes-pyrenees.webp'
import OccitanieImg from '@/assets/imgs/sponsos/occitanie.webp'
import ParcNationalImg from '@/assets/imgs/sponsos/parc-national.webp'
import PrefetImg from '@/assets/imgs/sponsos/prefet.webp'
import MyImage from '@/components/my-image.astro'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'
import type { Hour } from '@/types/hours'
import { MDV_DEFAULT_ADDRESS, PARKING_DEFAULT_ADDRESS } from '@/utils/helper'

const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)
const hours = await findGlobal<Hour>('hours', { locale })
const formatTime = (dateStr: string) => {
	return new Date(dateStr).toLocaleTimeString(locale, {
		hour: '2-digit',
		minute: '2-digit',
		hour12: false
	})
}
---

<Layout title={t('ACCUEIL_TITLE')}>
	<main>
		<section class="section-default" id="horaires">
			<article class="grid grid-cols-2 gap-5">
				<div class="flex flex-col">
					<h2 class="text-primary pb-3">{t('OU_NOUS_TROUVER_TITRE')}</h2>
					<p class="distinguished pb-16">{t('MAISON_DU_PARC_COMPLET')}</p>
					<div class="grid grid-cols-2 gap-5">
						<div class="bg-primary/20 px-5 py-8">
							<ul class="space-y-5">
								<li class="border-b border-black/20 px-5 pb-4">
									<span class="font-bold">{t('HORAIRES')}</span> :
									<div class="mt-2 space-y-1">
										<p>
											{t('LUNDI_SAMEDI')} : {formatTime(hours.horaires_base.base_start)} - {
												formatTime(hours.horaires_base.base_end)
											}
										</p>
										<p>
											{t('DIMANCHE')} : {formatTime(hours.horaires_base.dimanche_start)} - {
												formatTime(hours.horaires_base.dimanche_end)
											}
										</p>
									</div>
								</li>

								<li class="px-5 ">
									<span class="font-bold">{t('ADRESSE')}</span> :
									<p>{MDV_DEFAULT_ADDRESS}</p>
								</li>
							</ul>
						</div>
						<div class="bg-primary/20 px-5 py-8">
							<ul class="space-y-5">
								<li class="border-b border-black/20 px-5 pb-13">
									<span class="font-bold">{t('ADRESSE')}</span> :
									<p>{PARKING_DEFAULT_ADDRESS}</p>
								</li>

								<li class="px-5">
									<span class="font-bold">{t('ACCES_TRANSPORT_PUBLIC')}</span> :
									<p>{t('ACCES_TRANSPORT_PUBLIC_DESC')}</p>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<iframe
					class="h-full w-full"
					style="border:0"
					referrerpolicy="no-referrer-when-downgrade"
					src="https://www.google.com/maps?q=24+Place+Saint+Clément,+65120+Luz-Saint-Sauveur&output=embed"
					allowfullscreen
				>
				</iframe>
			</article>
		</section>

		<section class="section-default bg-primary/20" id="tarifs">
			<article>
				<h2 class="text-primary pb-3">{t('NOS_TARIFS')}</h2>
				<p class="distinguished pb-16">{t('NOS_TARIFS_INTRO')}</p>

				<div class="grid grid-cols-9 gap-5">
					<div class="bg-primary text-primary-foreground col-span-2 p-6">
						<h3 class="text-primary-foreground pb-10">{t('TARIFS_MEDIATHEQUE')}</h3>
						<p><span class="font-bold">{t('ADULTE')}</span> : 10€</p>
						<p class="distinguished mb-6 border-b border-white/20">{t('ANNEE')}</p>
						<p><span class="text-primary-foreground font-bold">{t('ENFANT')}</span> : 5€</p>
						<p class="distinguished mb-6 border-b border-white/20">{t('ANNEE')}</p>
						<p><span class="text-primary-foreground font-bold">{t('FAMILLE')}</span> : 5€</p>
						<p class="distinguished mb-6 border-b border-white/20">3 {t('SEMAINES')}</p>
					</div>
					<MyImage src={EspaceCultureImg} alt="" width={200} height={380} />
					<div class="bg-primary text-primary-foreground col-span-2 p-6">
						<h3 class="text-primary-foreground pb-10">{t('TARIFS_SPECTACLE')}</h3>
						<p><span class="font-bold">{t('NORMAL')}</span> : 10€</p>
						<p class="distinguished mb-6 border-b border-white/20">{t('DES_14ANS')}</p>
						<p><span class="text-primary-foreground font-bold">{t('REDUIT')}</span> : 5€</p>
						<p class="distinguished mb-6 border-b border-white/20">{t('REDUIT_DESC')}</p>
						<p><span class="text-primary-foreground font-bold">{t('ENFANT')}</span> : {t('OFFERT')}</p>
						<p class="distinguished mb-6 border-b border-white/20">{t('MOINS_3ANS')}</p>
					</div>
					<MyImage src={EspaceCultureImg} alt="" width={200} height={380} />
					<div class="bg-primary text-primary-foreground col-span-2 p-6">
						<h3 class="text-primary-foreground pb-10">{t('TARIFS_CINEMA')}</h3>
						<p class="mb-6 border-b border-white/20"><span class="font-bold">{t('ADULTE')}</span> : 7€</p>
						<p class="mb-6 border-b border-white/20"><span class="font-bold">{t('ETUDIANT')}</span> : 6€</p>
						<p class="mb-6 border-b border-white/20"><span class="font-bold">{t('ENFANT_MOINS_13')}</span> : 5€</p>
						<p class="mb-6 border-b border-white/20"><span class="font-bold">{t('ABONNE')}</span> : 5,80€</p>
					</div>
					<MyImage src={EspaceCultureImg} alt="" width={200} height={380} />
				</div>
			</article>
		</section>

		<section class="section-default" id="equipe">
			<article>
				<h2 class="text-secondary pb-3">{t('EQUIPE_TITRE')}</h2>
				<p class="distinguished pb-16">{t('EQUIPE_INTRO')}</p>
				<p class="w-2/3 pb-16">
					{t('EQUIPE_DESC')}
				</p>

				<div class="flex flex-wrap items-center justify-center gap-x-5 gap-y-20 *:w-[20%]">
					<figure>
						<MyImage src={EspaceCultureImg} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h2 class="text-secondary">Marque Cathy</h2>
							<p>{t('DIRECTRICE_ADMINISTRATIVE')}</p>
						</figcaption>
					</figure>
					<figure>
						<MyImage src={EspaceCultureImg} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h2>Lay Marie</h2>
							<p>{t('DIRECTRICE_ARTISTIQUE')}</p>
						</figcaption>
					</figure>
					<figure>
						<MyImage src={EspaceCultureImg} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h2>Boussac Chantal</h2>
							<p>{t('COMPTABLE')}</p>
						</figcaption>
					</figure>
					<figure>
						<MyImage src={EspaceCultureImg} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h2>Loo Santos Andréa</h2>
							<p>{t('RESPONSABLE_MEDIATHEQUE')}</p>
						</figcaption>
					</figure>
					<figure>
						<MyImage src={EspaceCultureImg} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h2>Bouillon Marie-Jade</h2>
							<p>{t('RESPONSABLE_CINEMA_EXPO')}</p>
						</figcaption>
					</figure>
					<figure>
						<MyImage src={EspaceCultureImg} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h2>Poulalion Léo-Polde</h2>
							<p>{t('TECHNICIEN_REGISSEUR')}</p>
						</figcaption>
					</figure>
					<figure>
						<MyImage src={EspaceCultureImg} alt="" width={200} height={380} layout="fullWidth" />
						<figcaption class="pt-2">
							<h2>Bouillon Mélinda</h2>
							<p>{t('AGENT_ENTRETIEN_ACCUEIL')}</p>
						</figcaption>
					</figure>
				</div>
			</article>
		</section>

		<section class="section-default bg-secondary/20" id="engagements">
			<article class="grid grid-cols-3">
				<div class="col-span-2">
					<h2 class="text-secondary pb-3">{t('ENGAGEMENTS_VALEURS_TITRE')}</h2>
					<p class="distinguished pb-16">{t('ENGAGEMENTS_VALEURS_INTRO')}</p>
					<p class="whitespace-pre-line">
						{t('ENGAGEMENTS_VALEURS_DESC')}
					</p>
				</div>

				<div class="col-span-1 flex items-center justify-center gap-3">
					<MyImage src={EspaceCultureImg} alt="" width={150} height={150} />
					<MyImage src={EspaceCultureImg} alt="" width={150} height={150} />
					<MyImage src={EspaceCultureImg} alt="" width={150} height={150} />
				</div>
			</article>
		</section>

		<section class="section-default" id="partenaires">
			<article class="grid grid-cols-3 gap-5">
				<div class="col-span-1 grid grid-cols-3 grid-rows-3 place-items-center gap-3 pt-48">
					<MyImage src={BeHappyImg} alt="" width={120} height={120} class="col-span-1" />
					<MyImage src={HautesPyreneesImg} alt="" width={120} height={120} class="col-span-1" />
					<MyImage src={OccitanieImg} alt="" width={120} height={120} class="col-span-1" />
					<MyImage src={PrefetImg} alt="" width={120} height={120} class="col-span-1" />
					<MyImage src={ParcNationalImg} alt="" width={240} height={120} class="col-span-2" />
					<MyImage src={EuropeImg} alt="" width={700} height={120} class="col-span-3" />
				</div>
				<div class="col-span-2">
					<h2 class="text-primary pb-3">{t('PARTENAIRES_TITRE')}</h2>
					<p class="distinguished pb-16">{t('PARTENAIRES_INTRO')}</p>
					<p>
						{t('PARTENAIRES_DESC')}
					</p>
				</div>
			</article>
		</section>
	</main>
</Layout>
