---
import { createTranslator, type I18n } from '@/i18n/translations'
import type { ImmanquableDoc } from '@/types/immanquable'
import Image from './my-image.astro'
import { SideCard } from './side-card'

interface Props {
	locale: I18n
	event?: ImmanquableDoc
}

const { locale, event } = Astro.props
const t = createTranslator(locale)

const getThumbnail = (event: ImmanquableDoc) => {
	if (event._collection === 'exposition' && 'images' in event) {
		return event.images?.[0]?.image
	}
	return 'thumbnail' in event ? event.thumbnail : undefined
}

const getEventHref = (event: ImmanquableDoc) => {
	switch (event._collection) {
		case 'art_vivant':
			return `/art-vivant/spectacle/${event.id}`
		case 'cinema':
			if (event.type === 'scolaire') return `/cinema/scolaire/${event.id}`
			if (event.type === 'rdv_cinema') return `/cinema/rdv-cinema/${event.id}`
			return `/cinema/seance/${event.id}`
		case 'exposition':
			return event.type === 'evenement' ? `/exposition/evenement/${event.id}` : `/exposition`
		case 'parc_national':
			return `/parc-national/evenement/${event.id}`
	}
}

const eventHref = event ? getEventHref(event) : undefined
---

{
	event && (
		<SideCard
			client:media="(min-width: 1280px)"
			position="top-[calc(25%+13.5rem)]"
			height="h-72"
			width="w-100"
			tabText={[t('EVENEMENT'), t('IMMANQUABLE')]}
			ariaLabel={t('PANNEAU_EVENEMENT_IMMANQUABLE')}
		>
			<div class="text-primary-foreground flex h-full flex-col items-start py-7 text-left">
				<p class="px-10 pb-2 text-xl">{t('EVENEMENT_IMMANQUABLE')}</p>

				<Image
					src={getThumbnail(event)?.url}
					alt={getThumbnail(event)?.alt ?? t('IMAGE_PLACEHOLDER')}
					background={getThumbnail(event)?.blurhash}
					width={400}
					height={128}
					layout="constrained"
					class="h-32 w-full object-cover"
				/>

				<p class="w-full truncate px-10 pt-2 text-lg font-semibold">{event.title}</p>

				<div class="flex w-full items-center gap-3 px-10">
					<div class="min-w-0 shrink truncate text-xs text-gray-200 capitalize">
						{new Date(event.date_start).toLocaleDateString(locale, { dateStyle: 'full' })}
					</div>
					{event.genre && <div class="mr-auto min-w-0 shrink truncate text-xs text-gray-200">{event.genre}</div>}
					<a href={eventHref} class="ml-auto shrink-0 py-2 pl-2 text-xs underline underline-offset-3">
						{t('EN_SAVOIR_PLUS')}
					</a>
				</div>
			</div>
		</SideCard>
	)
}
