---
export const prerender = true

import { find, findByID } from '@/api/payload'
import MyImage from '@/components/my-image.astro'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'
import { cn } from '@/lib/utils'
import type { ArtVivant } from '@/types/art-vivant'
import { VideoPlayer } from '@/components/video-player'
import { MDV_DEFAULT_ADDRESS } from '@/utils/helper'

export async function getStaticPaths() {
	const locale = 'fr'
	const data = await find<ArtVivant>('art_vivant', {
		limit: 50,
		locale,
		where: {
			type: { equals: 'evenement' }
		}
	})

	const langs = ['fr', 'en', 'es'] as const
	return data.docs.flatMap((item) => langs.map((lang) => ({ params: { lang, id: item.id } })))
}

const locale = (Astro.params.lang || 'fr') as I18n
const { id } = Astro.params

// Fetch item for current locale
const item = await findByID<ArtVivant>('art_vivant', id, { locale })
console.log('video field:', item.video)
const t = createTranslator(locale)

const descText = item.description.root.children
	.flatMap((para) => para.children)
	.filter((child) => child.type === 'text')
	.map((child) => child.text)
	.join(' ')

const moreInfoText = item.informations_more
	? item.informations_more.root.children
			.flatMap((para) => para.children)
			.filter((child) => child.type === 'text')
			.map((child) => child.text)
			.join(' ')
	: null

const formatDate = (dateStr: string) => {
	return new Date(dateStr).toLocaleDateString(locale, { dateStyle: 'full', timeZone: 'Europe/Paris' })
}

const formatTime = (dateStr: string) => {
	return new Date(dateStr).toLocaleTimeString(locale, {
		hour: '2-digit',
		minute: '2-digit',
		hour12: false,
		timeZone: 'Europe/Paris'
	})
}
const allImages = (item.other_images?.map((img) => img.image) || []).filter(Boolean).slice(0, 3)
---

<Layout title={item.title} image={item.thumbnail?.url}>
	<main id="main-content">
		<section class="section-default rounded-t-none bg-primary">
			<article class="grid grid-cols-1 gap-3 lg:grid-cols-2 lg:gap-4">
				<div class="flex items-center justify-center mt-8 md:mt-6 lg:mt-0">
					<MyImage
						src={item.thumbnail?.url}
						alt={item.thumbnail?.alt ?? item.title}
						background={item.thumbnail?.blurhash}
						width={1100}
						height={800}
						layout="constrained"
					/>
				</div>

				<div class="bg-background flex flex-col rounded-2xl p-6 lg:p-8">
					<p class="distinguished !text-primary text-sm capitalize">{formatDate(item.date_start)} - {formatTime(item.date_start)}</p>
					<p class="distinguished !text-primary mb-4 lg:mb-8 text-sm">{item.location || MDV_DEFAULT_ADDRESS}</p>

					<h1 class="pb-4 !text-foreground text-3xl font-normal">{item.title}</h1>

					<p class="pb-4 text-secondary! font-medium">{item.genre}</p>

					<div class="flex flex-wrap gap-3 mt-auto">
						{
							item.price
								.split(';')
								.map((price: string) => (
									<span class="bg-secondary text-primary distinguished rounded-2xl px-3 py-3 text-sm">{price.trim()}</span>
								))
						}
					</div>
				</div>
			</article>
		</section>

		<section class="section-default">
			<article class="grid grid-cols-1 gap-5 pb-8 lg:grid-cols-3 lg:gap-8 lg:pb-16 items-start">
				<div class="flex flex-col lg:col-span-2">
					<h2 class={cn('pb-2 lg:pb-3', !moreInfoText ? 'pb-8 lg:pb-16' : 'pb-2 lg:pb-3')}>{item.title}</h2>
					{moreInfoText && <p class="distinguished pb-8 lg:pb-16">{moreInfoText}</p>}
					<p>{descText}</p>

					<div class="hidden lg:block">
						{(() => {
							const count = allImages.length

							if (count === 0) return null

							const gridClass =
								count === 3
									? 'mt-8 lg:mt-16 grid grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-5'
									: count === 2
										? 'mt-8 lg:mt-16 grid grid-cols-1 lg:grid-cols-2 gap-3 lg:gap-5'
										: 'mt-8 lg:mt-16 grid grid-cols-1 gap-3 lg:gap-5'

							return (
								<div class={gridClass}>
									{allImages[0] && (
										<MyImage
											src={allImages[0]?.url}
											alt={allImages[0]?.alt ?? ''}
											background={allImages[0]?.blurhash}
											width={400}
											height={300}
											layout="fullWidth"
										/>
									)}
									{allImages[1] && (
										<MyImage
											src={allImages[1]?.url}
											alt={allImages[1]?.alt ?? ''}
											background={allImages[1]?.blurhash}
											width={400}
											height={300}
											layout="fullWidth"
										/>
									)}
									{allImages[2] && (
										<MyImage
											src={allImages[2]?.url}
											alt={allImages[2]?.alt ?? ''}
											background={allImages[2]?.blurhash}
											width={800}
											height={300}
											layout="fullWidth"
											class="col-span-2 lg:col-span-1"
										/>
									)}
								</div>
							)
						})()}
					</div>
				</div>

				<div class="bg-secondary rounded-3xl p-4 lg:p-5 space-y-2 lg:sticky lg:top-[calc(var(--header-height)+1rem)]">
					<div class="bg-background rounded-2xl px-4 py-2 capitalize">
						<span class="font-medium">{t('DATE')}</span> : {formatDate(item.date_start)} - {formatTime(item.date_start)}
					</div>
					<div class="bg-background rounded-2xl px-4 py-2">
						<span class="font-medium">{t('LIEU')}</span> : {item.location || MDV_DEFAULT_ADDRESS}
					</div>
					<div class="bg-background rounded-2xl flex flex-wrap items-center gap-3 px-4 py-2">
						<span class="font-medium">{t('PRIX')}</span> :
						{
							item.price
								.split(';')
								.map((price: string) => (
									<span class="bg-primary text-primary-foreground distinguished rounded-2xl px-3 py-1 text-xs">{price.trim()}</span>
								))
						}
					</div>
					<div class="bg-background rounded-2xl px-4 py-2">
						<span class="font-medium">{t('GENRE')}</span> : {item.genre}
					</div>
					<div class="bg-background rounded-2xl px-4 py-2">
						<span class="font-medium">{t('DURATION')}</span> : {item.duration}
					</div>
					<div class="bg-background rounded-2xl px-4 py-2">
						<span class="font-medium">{t('COMPAGNIE_ARTISTES')}</span> : {item.authors}
					</div>
					<div class="bg-background rounded-2xl px-4 py-2">
						<span class="font-medium">{t('CREDITS_PHOTOS')}</span> : {item.credits_photos}
					</div>
					<div class="bg-background rounded-2xl px-4 py-2">
						<span class="font-medium">{t('PORTFOLIO')}</span> : {item.portfolio_authors}
					</div>
					{item.tags && (
						<div class="flex flex-wrap items-center gap-2 px-1 py-1">
							{item.tags.split(';').map((tag: string) => (
								<span class="bg-primary text-primary-foreground distinguished rounded-2xl px-3 py-1 text-xs">
									{tag.trim()}
								</span>
							))}
						</div>
					)}
				</div>

				<div class="lg:hidden">
					{(() => {
						const count = allImages.length

						if (count === 0) return null

						const gridClass =
							count === 3
								? 'mt-8 grid grid-cols-2 gap-3'
								: 'mt-8 grid grid-cols-1 gap-3'

						return (
							<div class={gridClass}>
								{allImages[0] && (
									<MyImage
										src={allImages[0]?.url}
										alt={allImages[0]?.alt ?? ''}
										background={allImages[0]?.blurhash}
										width={400}
										height={300}
										layout="fullWidth"
									/>
								)}
								{allImages[1] && (
									<MyImage
										src={allImages[1]?.url}
										alt={allImages[1]?.alt ?? ''}
										background={allImages[1]?.blurhash}
										width={400}
										height={300}
										layout="fullWidth"
									/>
								)}
								{allImages[2] && (
									<MyImage
										src={allImages[2]?.url}
										alt={allImages[2]?.alt ?? ''}
										background={allImages[2]?.blurhash}
										width={800}
										height={300}
										layout="fullWidth"
										class="col-span-2"
									/>
								)}
							</div>
						)
					})()}
				</div>
			</article>
		</section>

		{item.video && (
			<section class="section-default bg-secondary">
				<VideoPlayer client:load url={item.video} />
			</section>
		)}
	</main>
</Layout>
