---
export const prerender = true
import { find } from '@/api/payload'
import EspaceCultureImg from '@/assets/imgs/espace-culture-nature.webp'
import MyImage from '@/components/my-image.astro'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'
import {
	translateLudoDuration,
	translateLudoPlayers,
	translateLudoPublic,
	translatePublicField
} from '@/lib/translate-fields'
import type { Cinema } from '@/types/cinema'
import type { Mediatheque } from '@/types/mediatheque'
import type { ParcNational } from '@/types/parc-national'

const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)

const evenements = await find<ParcNational>('parc_national', {
	limit: 4,
	locale,
	where: {
		type: { equals: 'evenement' },
		jeunePublic: { equals: true }
	}
})

const ludotheque = await find<Mediatheque>('mediatheque', {
	limit: 3,
	locale,
	where: {
		type: { equals: 'ludotheque' },
		jeunePublic: { equals: true }
	}
})

const cinema = await find<Cinema>('cinema', {
	limit: 4,
	locale,
	where: {
		jeunePublic: { equals: true }
	}
})
---

<Layout title={t('ACCUEIL_TITLE')}>
	<main>
		<section class="section-default" id="spectacles">
			<h2 class="text-primary pb-2 lg:pb-3">{t('SPECTACLES_JEUNE_PUBLIC_TITRE')}</h2>
			<p class="distinguished pb-3 lg:pb-6">{t('SPECTACLES_JEUNE_PUBLIC_INTRO')}</p>
			<p class="lg:w-2/3">
				{t('SPECTACLES_JEUNE_PUBLIC_DESC')}
			</p>

			<div class="my-8 lg:my-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 place-items-center gap-x-4 gap-y-8 *:max-w-80">
				{
					evenements.docs.map((item) => {
						const descText = item.description.root.children
							.flatMap((para) => para.children)
							.filter((child) => child.type === 'text')
							.map((child) => child.text)
							.join(' ')

						return (
							<article class="group relative col-span-1 w-full overflow-hidden bg-white shadow-sm">
								<div class="overflow-hidden">
									<MyImage
										src={item.thumbnail?.url}
										alt={item.thumbnail?.alt ?? t('IMAGE_PLACEHOLDER')}
										background={item.thumbnail?.blurhash}
										width={275}
										height={305}
										layout="fullWidth"
									/>
								</div>
								<figure class="p-4 transition-opacity duration-250 group-hover:opacity-0">
									<figcaption>
										<h3 class="pb-1 text-black">
											<a href={`/jeune-public/spectacles/${item.id}`} class="after:absolute after:inset-0 after:z-10">
												{item.title}
											</a>
										</h3>
										<time class="distinguished text-sm capitalize" datetime={item.date_start}>
											{new Date(item.date_start).toLocaleDateString(locale, { dateStyle: 'full' })} -{' '}
											{new Date(item.date_start).toLocaleTimeString(locale, {
												hour: '2-digit',
												minute: '2-digit',
												hour12: false
											})}
										</time>
										<p class="line-clamp-2 pt-3 text-xs">{descText}</p>
									</figcaption>
								</figure>
								<div class="bg-primary/80 pointer-events-none absolute inset-0 opacity-0 transition-opacity duration-250 group-hover:opacity-100" />
								<figure class="pointer-events-none absolute inset-0 p-5 opacity-0 transition-opacity duration-250 group-hover:opacity-100">
									<figcaption class="text-white">
										<p class="line-clamp-8 text-sm">{descText}</p>
										<p class="inline-flex items-center gap-2 pt-10 text-sm font-semibold underline underline-offset-2">
											{t('EN_SAVOIR_PLUS')}
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												viewBox="0 0 24 24"
												fill="none"
												stroke="currentColor"
												stroke-width="2"
												stroke-linecap="round"
												stroke-linejoin="round"
											>
												<path d="M5 12h14" />
												<path d="m12 5 7 7-7 7" />
											</svg>
										</p>
									</figcaption>
								</figure>
							</article>
						)
					})
				}
			</div>
		</section>

		<section class="section-default bg-primary/20 pb-4" id="cinema">
			<article>
				<h2 class="pb-2 lg:pb-3">{t('CINEMA_JEUNE_PUBLIC_TITRE')}</h2>
				<p class="distinguished pb-3 lg:pb-6">{t('CINEMA_JEUNE_PUBLIC_INTRO')}</p>
				<p class="lg:w-2/3">{t('CINEMA_JEUNE_PUBLIC_DESC')}</p>
			</article>

			<div class="my-8 lg:my-16 grid grid-cols-1 lg:grid-cols-2 gap-3 lg:gap-5">
				{
					cinema.docs.map((item) => {
						const synopsisText = item.synopsis.root.children
							.flatMap((para) => para.children)
							.filter((child) => child.type === 'text')
							.map((child) => child.text)
							.join(' ')

						return (
							<article class="group relative col-span-1 w-full overflow-hidden bg-white shadow-sm">
								<div class="overflow-hidden">
									<MyImage
										src={item.thumbnail?.url}
										alt={item.thumbnail?.alt ?? t('IMAGE_PLACEHOLDER')}
										background={item.thumbnail?.blurhash}
										width={900}
										height={145}
										layout="fullWidth"
									/>
								</div>
								<figure class="p-4 transition-opacity duration-250 group-hover:opacity-0">
									<figcaption>
										<h3 class="pb-3 text-black">
											<a href={`/jeune-public/seance/${item.id}`} class="after:absolute after:inset-0 after:z-10">
												{item.title}
											</a>
										</h3>
										<p class="distinguished text-primary pb-1 text-xs">
											{translatePublicField(item.public, t)} - {item.genre} - {item.languages}
										</p>
										<p class="font-serif text-sm capitalize">
											{new Date(item.date_start).toLocaleDateString(locale, { dateStyle: 'full' })} -{' '}
											{new Date(item.date_start).toLocaleTimeString(locale, {
												hour: '2-digit',
												minute: '2-digit',
												hour12: false
											})}
										</p>
									</figcaption>
								</figure>
								<div class="bg-primary/80 pointer-events-none absolute inset-0 opacity-0 transition-opacity duration-250 group-hover:opacity-100" />
								<figure class="pointer-events-none absolute inset-0 p-5 opacity-0 transition-opacity duration-250 group-hover:opacity-100">
									<figcaption class="text-white">
										<p class="line-clamp-6 text-sm">{synopsisText}</p>
										<p class="inline-flex items-center gap-2 pt-10 text-sm font-semibold underline underline-offset-2">
											{t('EN_SAVOIR_PLUS')}
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												viewBox="0 0 24 24"
												fill="none"
												stroke="currentColor"
												stroke-width="2"
												stroke-linecap="round"
												stroke-linejoin="round"
											>
												<path d="M5 12h14" />
												<path d="m12 5 7 7-7 7" />
											</svg>
										</p>
									</figcaption>
								</figure>
							</article>
						)
					})
				}
			</div>
		</section>

		<section class="section-default" id="ludotheque">
			<article>
				<h2 class="text-secondary pb-2 lg:pb-3">{t('LUDOTHEQUE_JEUNE_PUBLIC_TITRE')}</h2>
				<p class="distinguished pb-3 lg:pb-6">{t('LUDOTHEQUE_JEUNE_PUBLIC_INTRO')}</p>
				<p class="lg:w-2/3">{t('LUDOTHEQUE_JEUNE_PUBLIC_DESC')}</p>
			</article>

			<div class="my-8 lg:my-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-items-center gap-x-4 gap-y-8 *:max-w-92">
				{
					ludotheque.docs.map((item) => {
						const descText = item.description.root.children
							.flatMap((para) => para.children)
							.filter((child) => child.type === 'text')
							.map((child) => child.text)
							.join(' ')

						return (
							<article class="group relative col-span-1 w-full overflow-hidden bg-white shadow-xs">
								<div class="overflow-hidden">
									<MyImage
										src={item.thumbnail?.url}
										alt={item.thumbnail?.alt ?? t('IMAGE_PLACEHOLDER')}
										background={item.thumbnail?.blurhash}
										width={365}
										height={270}
										layout="fullWidth"
									/>
								</div>
								<figure class="p-4 transition-opacity duration-250 group-hover:opacity-0">
									<figcaption>
										<h3 class="pb-3 text-black">
											<a href={`/jeune-public/ludotheque/${item.id}`} class="after:absolute after:inset-0 after:z-10">
												{item.title}
											</a>
										</h3>
										<p class="text-secondary pb-2 font-serif text-xs">{item.genre}</p>
										<div class="flex items-center justify-between text-xs">
											<p>{translateLudoPublic(item.public, t)}</p>
											<p>{translateLudoPlayers(item.players, t)}</p>
											<p>{translateLudoDuration(item.duration, t)}</p>
										</div>
									</figcaption>
								</figure>
								<div class="bg-secondary/80 pointer-events-none absolute inset-0 opacity-0 transition-opacity duration-250 group-hover:opacity-100" />
								<figure class="pointer-events-none absolute inset-0 p-5 opacity-0 transition-opacity duration-250 group-hover:opacity-100">
									<figcaption class="text-white">
										<p class="line-clamp-8 text-sm">{descText}</p>
										<p class="inline-flex items-center gap-2 pt-10 text-sm font-semibold underline underline-offset-2">
											{t('EN_SAVOIR_PLUS')}
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												viewBox="0 0 24 24"
												fill="none"
												stroke="currentColor"
												stroke-width="2"
												stroke-linecap="round"
												stroke-linejoin="round"
											>
												<path d="M5 12h14" />
												<path d="m12 5 7 7-7 7" />
											</svg>
										</p>
									</figcaption>
								</figure>
							</article>
						)
					})
				}
			</div>
		</section>
	</main>
</Layout>
