---
import { find } from '@/api/payload'
import EspaceCultureImg from '@/assets/imgs/espace-culture-nature.png'
import MyImage from '@/components/my-image.astro'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'
import type { ExpositionType, EvenementType } from '@/types/exposition'
import { renderRichText } from '@/utils/helper'
const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale);

const exposition = (await find<ExpositionType>('exposition/current', {
	locale
})) as unknown as ExpositionType | null

const evenements = await find<EvenementType>('exposition', {
	limit: 4,
	locale,
	where: { type: { equals: 'evenement' } }
})
---

<Layout title={t('ACCUEIL_TITLE')}>
	<main>
		{
			exposition && (
				<section class="section-default">
					<article class="grid grid-cols-3 gap-5 pb-16">
						<div class="col-span-2 flex flex-col">
							<h2 class="text-primary pb-3">{t('EXPO_MOMENT_TITRE')}</h2>
							<p class="distinguished pb-6">
								{t('DATE_FROM')}{' '}
								{new Date(exposition.date_start).toLocaleDateString(locale, {
									weekday: 'long',
									day: 'numeric',
									month: 'long'
								})}{' '}
								{t('DATE_TO')}{' '}
								{new Date(exposition.date_end).toLocaleDateString(locale, {
									weekday: 'long',
									day: 'numeric',
									month: 'long',
									year: 'numeric'
								})}
							</p>
							<h3 class="text-primary pb-16">{exposition.title}</h3>
							<p set:html={renderRichText(exposition.description)} />
						</div>
						<div class="bg-primary/20 px-5 py-8">
							<ul class="space-y-5">
								<li class="border-b border-black/20 px-5 pb-4">
									<span class="font-bold">{t('DATE')}</span> : {t('DATE_FROM')}{' '}
									{new Date(exposition.date_start).toLocaleDateString(locale, {
										weekday: 'long',
										day: 'numeric',
										month: 'long'
									})}{' '}
									{t('DATE_TO')}{' '}
									{new Date(exposition.date_end).toLocaleDateString(locale, {
										weekday: 'long',
										day: 'numeric',
										month: 'long'
									})}
								</li>
								<li class="border-b border-black/20 px-5 pb-4">
									<span class="font-bold">{t('HORAIRE')}</span> : {t('SUR_HORAIRES_OUVERTURE')}
								</li>
								<li class="border-b border-black/20 px-5 pb-4">
									<span class="font-bold">{t('ADRESSE')}</span> : Salle des voûtes, Maison de la Valée, 24 Place Saint
									Clément, 65120 LUZ-SAINT-SAUVEUR
								</li>
								<li class="border-b border-black/20 px-5 pb-4">
									<span class="font-bold">{t('TARIF')}</span> : {t('LIBRE_ACCES')}
								</li>
								<li class="border-b border-black/20 px-5 pb-4">
									<span class="font-bold">{t('GENRE')}</span> : {exposition.genre}
								</li>
								<li class="border-b border-black/20 px-5 pb-4">
									<span class="font-bold">{t('AUTEURS')}</span> : {exposition.authors}
								</li>
								<li class="flex items-center justify-center gap-3">
									{exposition?.tags?.split(';').map((tag) => (
										<span class="text-primary-foreground bg-primary px-1.5 py-1 distinguished">{tag}</span>
									))}
								</li>
							</ul>
						</div>
					</article>

{
						(() => {
							const displayImages = exposition.images?.slice(0, 7) || []
							const imagesToRender = Array.from({ length: 7 }, (_, i) => displayImages[i])

							const layouts = [
								{ width: 420, height: 220, class: 'col-span-2 col-start-1 row-span-1' },
								{ width: 420, height: 460, class: 'col-span-2 col-start-3 row-span-2' },
								{ width: 250, height: 220, class: 'col-span-1 col-start-5 row-span-1' },
								{ width: 500, height: 220, class: 'col-span-3 col-start-6 row-span-1' },
								{ width: 220, height: 220, class: 'col-span-1 col-start-1 row-span-1 row-start-2' },
								{ width: 220, height: 220, class: 'col-span-1 col-start-2 row-span-1 row-start-2' },
								{ width: 700, height: 220, class: 'col-span-4 col-start-5 row-span-1 row-start-2' }
							]

							return (
								<div class="grid grid-cols-8 grid-rows-2 gap-5">
									{imagesToRender.map((img, i) => (
										<MyImage
											src={img?.image?.url}
											alt={img?.image?.alt ?? ''}
											background={img?.image?.blurhash}
											width={layouts[i].width}
											height={layouts[i].height}
											layout="fullWidth"
											class={layouts[i].class}
										/>
									))}
								</div>
							)
						})()
					}
				</section>
			)
		}

		<section class="section-default bg-primary/20">
			<h2 class="text-primary pb-3">{t('EVENEMENTS_EXPO')}</h2>
			<p class="distinguished">{t('EVENEMENTS_EXPO_INTRO')}</p>

			<div class="my-16 grid grid-cols-4 place-items-center gap-x-4 gap-y-8 *:max-w-80">
				{
					evenements.docs.map((item) => {
						const descText = item.description.root.children
							.flatMap((para) => para.children)
							.filter((child) => child.type === 'text')
							.map((child) => child.text)
							.join(' ')

						return (
							<article class="group relative col-span-1 w-full overflow-hidden bg-white shadow-sm">
								<div class="overflow-hidden">
									<MyImage
										src={item.thumbnail?.url}
										alt={item.thumbnail?.alt ?? t('IMAGE_PLACEHOLDER')}
										background={item.thumbnail?.blurhash}
										width={275}
										height={305}
										layout="fullWidth"
									/>
								</div>
								<figure class="p-4 transition-opacity duration-250 group-hover:opacity-0">
									<figcaption>
										<h3 class="pb-1 text-black">
											<a href={`/parc-national/${item.id}`} class="after:absolute after:inset-0 after:z-10">
												{item.title}
											</a>
										</h3>
										<time class="distinguished text-sm capitalize" datetime={item.date_start}>
										{new Date(item.date_start).toLocaleDateString(locale, { dateStyle: 'full' })} -{' '}
										{new Date(item.date_start).toLocaleTimeString(locale, {
											hour: '2-digit',
											minute: '2-digit',
											hour12: false
										})}
										</time>
										<p class="line-clamp-2 pt-3 text-xs">{descText}</p>
									</figcaption>
								</figure>
								<div class="bg-primary/80 pointer-events-none absolute inset-0 opacity-0 transition-opacity duration-250 group-hover:opacity-100" />
								<figure class="pointer-events-none absolute inset-0 p-5 opacity-0 transition-opacity duration-250 group-hover:opacity-100">
									<figcaption class="text-white">
										<p class="line-clamp-8 text-sm">{descText}</p>
										<p class="inline-flex items-center gap-2 pt-10 text-sm font-semibold underline underline-offset-2">
											{t('EN_SAVOIR_PLUS')}
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												viewBox="0 0 24 24"
												fill="none"
												stroke="currentColor"
												stroke-width="2"
												stroke-linecap="round"
												stroke-linejoin="round"
											>
												<path d="M5 12h14" />
												<path d="m12 5 7 7-7 7" />
											</svg>
										</p>
									</figcaption>
								</figure>
							</article>
						)
					})
				}
			</div>
		</section>
	</main>
</Layout>
