---
import logoSvg from '@/assets/icons/logo.svg'
import MyImage from '@/components/my-image.astro'
import { NewsletterForm } from '@/components/newsletter-form'
import { createTranslator, type I18n } from '@/i18n/translations'
import { getMenuNavs } from '@/lib/menu-navs'
import BeHappyImg from '@/assets/imgs/sponsos/be-happy.webp';
import EuropeImg from '@/assets/imgs/sponsos/europe.webp';
import HautesPyreneesImg from '@/assets/imgs/sponsos/hautes-pyrenees.webp';
import ParcNationalImg from '@/assets/imgs/sponsos/parc-national.webp';
import OccitanieImg from '@/assets/imgs/sponsos/occitanie.webp';
import PrefetImg from '@/assets/imgs/sponsos/prefet.webp';

interface Props {
	locale: I18n
}

const { locale } = Astro.props
const t = createTranslator(locale)
const menuNavs = getMenuNavs(t)

const espacesArtistiques = menuNavs[0]?.subMenus || []
const parcNational = menuNavs[1]?.subMenus || []
---

<footer class="bg-primary text-primary-foreground space-y-8 lg:space-y-14 px-5 lg:px-10 py-10 lg:py-20 mt-8 lg:mt-16">
	<!-- Top section: Logo, Info, Site Map, Newsletter -->
	<div class="flex flex-col lg:flex-row items-start gap-6">
		<!-- Logo -->

		<img src={logoSvg.src} width={180} alt={t('LOGO_ALT')} class="hidden lg:block" />

		<!-- Informations pratiques -->
		<div class="w-full">
			<h3 class="text-primary-foreground pb-4 lg:pb-8">{t('INFORMATIONS_PRATIQUES')}</h3>

			<div class="grid grid-cols-1 lg:grid-cols-2 space-y-4 gap-x-20 gap-y-3">
				<div>
					<h4 class="font-bold uppercase font-serif">{t('ADRESSE_DU_LIEU')}</h4>
					<hr class="mb-4 border-white/40" />
					<p class="pl-4 text-sm">24, Place Saint Clément <br />65120 - LUZ-SAINT-SAUVEUR</p>
				</div>

				<div>
					<h4 class="font-bold uppercase font-serif">{t('ACCES')}</h4>
					<hr class="mb-4 border-white/40" />
					<p class="pl-4 text-sm">{t('PARKING_OUI')}</p>
					<p class="pl-4 text-sm">{t('TRANSPORT_PUBLIC')}</p>
				</div>

				<div>
					<h4 class="font-bold uppercase font-serif">{t('HORAIRES')}</h4>
					<hr class="mb-4 border-white/40" />
					<p class="pl-4 text-sm">
						{t('HORAIRES_PART1')}
						<br />
						{t('HORAIRES_PART2')}
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-20">
		<div>
			<h3 class="text-primary-foreground pb-4 lg:pb-8">{t('PLAN_DU_SITE')}</h3>

			<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-20">
				<div>
					<h4 class="tracking-wider">{t('ESPACES_ARTISTIQUES')}</h4>
					<hr class="mb-4 border-white/40" />
					<ul class="space-y-2 pl-4">
						{
							espacesArtistiques.map((item) => (
								<li>
									<a href={`/${item.link}`} class="text-sm hover:underline">
										{item.label}
									</a>
								</li>
							))
						}
					</ul>
				</div>
				<div>
					<h4 class="tracking-wider">Maison de la vallée</h4>
					<hr class="mb-4 border-white/40" />
					<ul class="space-y-2 pl-4">
						{
							parcNational.map((item) => (
								<li>
									<a href={`/${item.link}`} class="text-sm hover:underline">
										{item.label}
									</a>
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>
		<div>
			<h3 class="text-primary-foreground pb-4 lg:pb-8">{t('NEWSLETTER_TITRE')}</h3>
			<p class="pb-8">{t('NEWSLETTER_INTRO')}</p>
			<NewsletterForm client:load locale={locale} variant="footer" apiBaseUrl={import.meta.env.PUBLIC_PAYLOAD_URL} />
		</div>
	</div>

	<!-- Partners section -->
	<div>
		<h3 class="text-primary-foreground pb-4 lg:pb-8">{t('NOS_PARTENAIRES')}</h3>

		<div class="flex flex-wrap items-center justify-center gap-4 lg:gap-5">
			<MyImage src={BeHappyImg} alt="Be Happy partenaire" width={80} height={80} class="w-12 lg:w-20" />
			<MyImage src={HautesPyreneesImg} alt="Hautes-Pyrénées partenaire" width={80} height={80} class="w-12 lg:w-20" />
			<MyImage src={OccitanieImg} alt="Parc National partenaire" width={80} height={80} class="w-12 lg:w-20" />
			<MyImage src={PrefetImg} alt="Préfet partenaire" width={80} height={80} class="w-12 lg:w-20" />
			<MyImage src={ParcNationalImg} alt="Parc National partenaire" width={160} height={80} class="w-24 lg:w-40" />
			<MyImage src={EuropeImg} alt="Europe partenaire" width={454} height={80} class="w-40 lg:w-auto" />
		</div>
	</div>
</footer>
